@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sp {
    display: none;
}

html {
    background-color: #fff;
}

body {
    min-width: 1040px;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 1.2px;
    color: #333333;
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
    font-size: 13.5px;
}

/* link */
a {
    color: #333333;
    text-decoration: none;
}

a:link {
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -moz-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -ms-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -o-linear-gradient(left, #eee, #ddd, #eee);
}

#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* wrapper
----------------------------------------------------------------------------------------------------*/
.wrapper660 {
    width: 660px;
    margin: 0 auto;
    text-align: left;

}

.wrapper800 {
    width: 800px;
    margin: 0 auto;
    text-align: left;

}

.wrapper_inner {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.wrapper {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: left;
}

.wrapper #sidebar {
    width: 230px;
    float: left;
}

.wrapper #sidebar ul {
    margin-bottom: 40px;
}

.color_line {
    background: url(../../images/header_line.jpg) repeat-x;
    height: 4px;
    width: 100%;
}

.bg_yellow {
    background: #fff5cf;

}

.bg_beige {
    background: #f6f2e9;

}

.bg_green {
    background: #d0d833;

}

.bg_ptn1 {
    background: url(../../images/bg_ptn1.jpg) repeat;
    background-attachment: fixed;
}

.bg_ptn3 {
    background: url(../../images/bg_ptn3.jpg) repeat;
    background-attachment: fixed;
}

section.pd {
    padding: 40px 0;
}

.left_contents {
    width: 700px;
    float: left;
    margin-right: 70px;
    font-size: 16px;
}

#contents {
    font-size: 16px;
    line-height: 2;
}

#contents p {
    margin: 0 0px 1em;
}

/* header
----------------------------------------------------------------------------------------------------*/

header .spmenu {
    display: none;
}

header.global {


    width: 100%;
}

header.global .top {
    padding: 0px 0 15px;

}

header h1 {
    float: left;
    width: 370px;
    margin-right: 20px;
    margin-top: 20px;

}

header h1 img {
    max-width: 100%;
    height: auto;

}

header .center {
    width: 234px;
    float: left;
    font-size: 10px;
    margin-top: 25px;
}

header .center ul {
    margin-left: 0px;
    _zoom: 1;
    overflow: hidden;
    margin-right: -18px;
    margin-bottom: 3px;

}

header .center ul li {
    float: left;
    margin-right: 5px;

}

header .center ul li a {
    text-decoration: none;
    color: #040309;

}

header .center ul li a:hover {
    text-decoration: underline;
    color: #e83813;
}

header .center ul li.privacy {
    background: url(../../images/icon_privacy.gif) no-repeat 0 1px;
    padding-left: 22px;
}

header .center ul li.link {
    background: url(../../images/icon_link.gif) no-repeat 0 2px;
    padding-left: 24px;
}

header .center ul li.sitemap {
    background: url(../../images/icon_sitemap.gif) no-repeat 0 1px;
    padding-left: 22px;
}

header .right {
    width: 355px;
    float: right;
    margin-top: 25px;
    text-align: left;
    color: #040309;
    font-weight: bold;
    line-height: 1.4;
}

header .right address {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
    padding-left: 14px;
}

header .right p.tel {
    float: left;
    text-align: left;
    font-weight: normal;
    padding-top: 0px;
    padding-left: 7px;
    margin-top: -3px;
    padding-bottom: 0px;

}

header .right .time {
    float: left;
    font-weight: bold;
    font-size: 14px;
    padding-top: 3px;
}

header .right .time .h {
    font-size: 10px;
    color: #fff;
    background: #e84c8f;
    display: inline-block;
    padding-left: 5px;
    padding-right: 3px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
    float: left;
    width: 24px;

}

header .right .time .t {
    display: block;
    float: left;
    padding-left: 3px;
}

header .right .time .t2 {
    text-align: right;
    font-size: 10px;
    float: right;

}

header.global nav {
    background: #e84c8f;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de007f+0,ff7fc1+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7fc1+0,de007f+97 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7fc1+0,de007f+100 */
    /*background: #ff7fc1; /* Old browsers */
}

header.global nav.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

header.global nav ul {
    background: url(../../images/nav_line_header.png) no-repeat right 17px;
}

header.global nav ul li {
    position: relative;


}

header.global nav ul li a {
    background: url(../../images/nav_line_header.png) no-repeat left 17px;

    display: block;
    box-sizing: border-box;
    padding: 28px 28px 19px 31px;
    float: left;
    text-align: center;
    border-bottom: 5px solid #e84c8f;

    line-height: 1;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header.global nav ul li:last-child:after a {
    background: url(../../images/nav_line_header.png) no-repeat right center;

}

header.global nav ul li a:hover {
    border-bottom: 5px solid #fe81b7;
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9bcd+0,ff93c9+0,dd449b+100 */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




/* footer
----------------------------------------------------------------------------------------------------*/
section.shopinfo {
    padding: 40px 0 0px;


}

section.shopinfo h2 {
    text-align: center;
    margin-bottom: 5px;
}

section.shopinfo h2 img {}

section.shopinfo h3 {
    text-align: center;
    margin-bottom: 30px;

}

section.shopinfo ul.col2 {
    overflow: hidden;

    margin-right: -30px;
}

section.shopinfo ul.col2 li {
    width: 310px;
    float: left;
    margin-right: 30px;

}

section.shopinfo address {
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

section.shopinfo #map {
    margin: 0px 0 0px;
}

section.shopinfo #map iframe {
    width: 100%;
    height: 400px;

}

section.shopinfo .box {
    padding-top: 15px;
}

section.shopinfo p.tel .time {
    display: block;
    margin-top: -5px;
}

section.shopinfo p.tel {
    text-align: center;
    margin-bottom: 10px;

}

section.shopinfo p.tel a {
    display: inline-block;
}

section.shopinfo p.btn {
    text-align: center;
    margin-top: 6px;
}

section.shopinfo p.btn a {
    border-radius: 5 px;
    /* CSS3草案 */
    -webkit-border-radius: 5px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;
    /* Firefox用 */
    background: #e84c8f;
    color: #fff;
    line-height: 1;
    display: inline-block;
    padding: 20px 30px 18px 30px;
    font-size: 16px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

section.shopinfo p.btn a span {
    background: url(../../images/footer_icon_mail.png) no-repeat top left;
    /* Old browsers */
    width: 40px;
    height: 50px;
    padding-left: 50px;

}

section.shopinfo p.btn a:hover {
    text-decoration: none;




}

/* footer
----------------------------------------------------------------------------------------------------*/
.footer_line {
    height: 11px;
    width: 100%;
    position: relative;
    top: -5px;
    margin-bottom: -5px;
}

footer.global {
    background: #f6f2e9;
    padding: 40px 0 0;
    width: 100%;
}

footer.global nav {
    margin-bottom: 40px;
}

footer.global nav ul {
    text-align: center;
    margin-bottom: 15px;
}

footer.global nav ul li {
    position: relative;
    display: inline-block;

}

footer.global nav ul li:last-child {
    background: url(../../images/nav_line_footer.png) no-repeat right center;
    padding-right: 5px;
}

footer.global nav ul li a {
    background: url(../../images/nav_line_footer.png) no-repeat left center;

    width: 166px;
    padding: 0px 10px 0px 17px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer.global nav ul li a:hover {

    color: #e23828;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


footer.global h2 {}

footer.global ul.bnr {
    text-align: center;
    margin-bottom: 30px;
}

footer.global ul.bnr li {
    display: inline-block;
    margin-right: 30px;
}

footer.global ul.bnr li img {}

footer.global p.copy {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    display: block;
    background: #ea9000;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer.global .pagetop a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    display: block;

}


/* バナー
----------------------------------------------------------------------------------------------------*/
section.other_link {
    background: #fff3e9;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    text-align: center;


}

section.other_link .wrapper {
    text-align: center;
}

section.other_link ul {
    display: block;
    text-align: left;
    padding-left: 45px;

}

section.other_link ul li {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 15px;
    margin: 0 0 25px;

}

/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/

#page_404 #contents {
    padding-top: 240px;
    text-align: center;
    background: url(../../images/slide01.jpg) no-repeat top center;
    color: #fff;
}

#page_404 #contents section {
    font-weight: bold;
}

#page_404 #contents a {
    color: #fff;
}

#page_404 #contents .wrapper {
    text-align: center;
    padding-bottom: 120px;

}

#page_404 header nav {
    border-bottom: 1px solid #b3b3b3;
}

#contents img {
    max-width: 100%;
    height: auto;
}

.bg_color1 {
    background: #FAF7EB;
}

.bg_color2 {
    background: #f1f1f1;
}

/* sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {}

#sidebar h3 {
    font-size: 17px;
    text-align: left;
    border-left: 3px solid #f6526d;
    margin-bottom: 15px;
    padding: 0 0 0 15px;
    line-height: 1.5;

    color: #565656;
    font-weight: bold;
}

#sidebar .h_line {
    display: none;
}

#sidebar ul {
    border-top: 1px dotted #ccc;
}

#sidebar ul li {
    border-bottom: 1px dotted #ccc;
}

#sidebar ul li a {
    position: relative;
    display: block;
    padding: 8px 20px 6px 5px;
    font-size: 13px;
    color: #1a1a1a;
}

#sidebar ul li a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */

#pagetitle {
    height: 250px;
    position: relative;

}

#pagetitle .logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -131px;
    display: none;
}

#pagetitle h2 {
    display: none;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    padding-top: 65px;
    text-shadow: 0px 1px 3px #888;
    letter-spacing: 3px;
    text-align: center;
}

#page_single #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_staffblog #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_about #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_event #pagetitle {
    background: url(../../images/pagetitle_event.jpg) no-repeat top right;
    background-size: cover;
}

#page_flow #pagetitle {
    background: url(../../images/pagetitle_flow.jpg) no-repeat top right;
    background-size: cover;
}

#page_faq #pagetitle {
    background: url(../../images/pagetitle_faq.jpg) no-repeat top right;
    background-size: cover;
}

#page_introduction #pagetitle {
    background: url(../../images/pagetitle_introduction.jpg) no-repeat top right;
    background-size: cover;
}

#page_company #pagetitle {
    background: url(../../images/pagetitle_company.jpg) no-repeat top right;
    background-size: cover;
}

#page_contact #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}

#page_thanks #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}

#page_privacy #pagetitle {
    background: url(../../images/pagetitle_privacy.jpg) no-repeat top right;
    background-size: cover;
}

#page_site #pagetitle,
#page_link #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}
