@charset "UTF-8";
/* index
----------------------------------------------------------------------------------------------------*/
#page_index #main_img {
	width: 100%;
	padding: 0px 0 0px;
	height: 570px;
	position: relative;
}

#page_index #main_img #slide_text {
	position: absolute;
top: 200px;
    right: 46%;
    z-index: 1000;
}

#page_index #main_img #slide_logo {
	position: absolute;
	bottom: -70px;
	left: 50%;
	margin-left:-93px;
	z-index: 1000;

}
#page_index #main_img_line{
	height:11px;
	background:url(../../images/main_img_line.png) repeat-x;
	width:100%;
	position:relative;
	top:-5px;
	margin-bottom:-5px;	
}
/* about
-------------------*/
#page_index section.about {
	background: url(../../images/bg_ptn1.jpg) repeat;
	background-attachment: fixed;
	padding:110px 0 40px;
	
}

#page_index section.about .wrapper {
	display: table;
}

#page_index section.about .grid1 {
	margin-bottom:20px;
}

#page_index section.about .photo {
	display: table-cell;
	width: 50%;
}

#page_index section.about .text {
	display: table-cell;
	width: 50%;
    vertical-align: top;
    padding-left:35px;
}

#page_index section.about .grid2 .text {
    padding-left:0px;
}
#page_index section.about .grid2 .photo {
    padding-left:35px;
}



#page_index section.about h2{
	 font-size: 25px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 15px;
	font-weight: 700;

}
#page_index section.about p{
	font-weight: 600;


}
#page_index section.about ul.col2{
	overflow:hidden;
	padding-top:20px;

}
#page_index section.about ul.col2 li{
	width:310px;
	float:left;
	margin-right:30px;
	
}
section.kyusyoku {
	padding-top:40px;
	padding-bottom:40px;
}
section.sougei {
	background: url(../../images/bg_ptn2.jpg) repeat;
	padding-top:30px;
	padding-bottom:30px;
}

section.sougei p {
	color:#fff;
	padding-top:15px;
	font-size: 17px;
}


#page_index section.houshin{
	padding:70px 0 80px;
	text-align:center;

	
}
#page_index section.houshin .wrapper{
	position:relative;
	text-align:center;
}
#page_index section.houshin .photo1{
	position:absolute;
	left:0;
	top:0px;
	
}
#page_index section.houshin .photo2{
	position:absolute;
	right:0;
	bottom:0px;
	
}
#page_index section.houshin p.text{
	font-size:15px;
	margin-top:40px;
	line-height:2;
	xfont-weight:bold;
	margin-bottom:60px;
}
#page_index section.houshin p.btn a{
	background:#ff931e;
	color:#fff;
	line-height:1;
	padding:13px 80px 10px;
	border-radius:8px;
	font-size:16px;
	position:relative;
	    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#page_index section.houshin p.btn a:hover{
	text-decoration:none;
	background:#ffa348;
	    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	
}
#page_index section.houshin p.btn a::after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#page_index section.blog{
	padding:60px 0 40px;
}
#page_index section.blog .h_line{
	margin-bottom:70px;
}

#page_index section.day {
	background: url(../../images/bg_ptn1.jpg) repeat;
	background-attachment: fixed;
}

#page_index section.day h3{
	text-align:center;
	margin-bottom:15px;
	font-size: 24px;
	font-weight: bold;
}

/* about.html
----------------------------------------------------------------------------------------------------*/
#page_about .about_photo{
	padding-bottom:0px;
}
#page_about .about_top h3{
	margin-bottom:20px;
text-align: center;
}
#page_about .about_photo .left{
	width:300px;
	float:left;
	padding-left:20px;
}
#page_about .about_photo .right{
	width:300px;
	float:left;
}
#page_about #contents .transport .wrapper_inner{
	text-align:center;
	xbackground: url(../../images/about_sougei.jpg) right 65px no-repeat;
}
#page_about #contents .box{
	border:1px solid #ccc;
	width:320px;
	padding:10px 10px 10px 30px;
	margin:20px auto 0px;
	background:#f5f5f5;
	text-align:left;
}

#page_about .about_top .photo {
	width: 100%;
}
#page_about .about_top .photo p {
	width: 490px;
	height: auto;
	float:left;
}

#page_about .about_top .photo .col1 {
	margin-right:18px;
}

/* about
----------------------------------------------------------------------------------------------------*/


#page_about section #info p{
	margin-bottom:20px;
}
#page_about section ul.col2{
	margin-right:-20px;
	overflow:hidden;
	_zoom:1;	
}
#page_about section ul.col2 li{
	width:325px;
	margin-right:20px;
	float:left;
	margin-bottom:20px;
}


#page_about section p.address{
	margin-top:30px;
}
#page_about section p.address strong{
	font-weight:bold;
	font-size:16px;
}
#page_about section p.tel{
	font-size:16px;
}
#page_about section p.tel span{
	font-size:12px;
}
#page_about section p.toptext{
	margin-bottom:40px;
}
#page_about section p.hyouka{
	width:600px;
	margin:0 auto 20px;
}
/* event
----------------------------------------------------------------------------------------------------*/

#page_index p.sche{
	margin-right:-30px;
	overflow:hidden;
	text-align:center;
}
#page_index p.sche img{
	margin-right:30px;
}
#page_index .hyouka{
}
#page_index .hyouka .text{
	margin-bottom:20px;
}
#page_index .hyouka .wrapper_inner{
	width:800px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　company.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_company section.info h4{
	border-bottom:1px dashed #ccc;
	font-size:16px;
	background:url(../../images/index_vision_mark.jpg) no-repeat 0 8px;
	padding-left:25px;
	padding-bottom:5px;
	margin-bottom:15px;
}
#page_company section.info p{
	padding-left:25px;
	margin-bottom:15px;
}
#page_company section.info dl{
	padding-left:14px;
	margin-bottom:15px;
}
#page_company section.info dl dt{
	padding-bottom:5px;	
}
#page_company section.info dl dd{
	padding-left:20px;
}


#page_company section.info ul.circle{
	margin:10px 15px 20px;
	background:#fff;
	padding:15px 20px 10px 20px;
	list-style:outside disc;
	border:1px solid #ede1c8;

}
#page_company section.info ul.circle li{
	list-style:outside disc;
	margin-left:20px;

	margin-bottom:10px;
	font-size:100%;
}


#page_company section#shop h4{
	font-size:131%;
	background:url(../../images/index_vision_mark.jpg) no-repeat 0 6px;
	padding-left:22px;
	padding-bottom:5px;
	margin-bottom:5px;
	margin-left:20px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　flow.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_flow .flow_bg{
	width:800px;
	margin:0 auto;
	height:460px;
	background:url(../../images/flow_bg.jpg) no-repeat;
	position:relative;
	line-height:1.5;
	text-align:left;
}
#page_flow .flow_bg h4{
	display:none;
}
#page_flow .flow_bg .t1{
	position:absolute;
	top: 42px;
    left: 355px;
}
#page_flow .flow_bg .t2{
	position:absolute;
	top:127px;
	left:355px;
}
#page_flow .flow_bg .t3{
	position:absolute;
	top:211px;
	left:355px;
}
#page_flow .flow_bg .t4{
	position:absolute;
	top:291px;
	left:355px;
}
#page_flow .flow_bg .t5{
	position:absolute;
	top:373px;
	left:355px;
}


/* faq.html
----------------------------------------------------------------------------------------------------*/
#page_faq #contents .bg_ptn1{
	padding: 40px 0;
}
#page_faq #contents dl{
	margin-left:10px;
	border:3px solid #e84c8f;
	margin-bottom:30px;
	border-radius:5px;
}
#page_faq #contents dl dt{
	background:#e84c8f;
	color:#fff;
	font-weight:bold;
	padding:10px 0 9px 17px;
	font-size:18px;
}

#page_faq #contents dl dd{
	padding:20px 15px 20px 22px;
	background: #fff;
	margin: 0;
}



/* introduction.html
----------------------------------------------------------------------------------------------------*/
#page_introduction #contents p {
	margin:0 20px 30px;
}

#page_introduction section.message{
	padding-bottom:0;
}
#page_introduction section.message p{
	font-weight: bold;
}
#page_introduction dl{
	margin:30px 15px 15px;
}
#page_introduction dl dt{
	border-left:2px solid #e83813;
	padding-left:10px;
	color:#333;
	font-weight: bold;
	margin:0 0 8px 0;
	font-size:116%;
	line-height:1.2;
}
#page_introduction dl dd{
	padding-left:12px;
	margin-bottom:20px;
}
#page_introduction dl dd table{
	margin:10px 0 10px;
}
#page_introduction dl dd p{
	margin:0;
	padding:0;
}

#page_introduction section.info ul.circle{
	margin:10px 15px 20px;
	background:#f6f2e9;
	padding:15px 20px 10px 20px;
	list-style:outside disc;
	border:1px solid #ede1c8;

}
#page_introduction section.info ul.circle li{
	list-style:outside disc;
	margin-left:20px;

	margin-bottom:10px;
	font-size:100%;
}

#page_introduction section.info p {
    padding-left: 25px;
    margin-bottom: 15px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　contact.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_contact section{

}
#page_contact #contents table th{
	width:160px;
	text-align:right;
}
#page_contact #contents table td{
	background:#fefefe;
}
#page_contact #contents p{
	margin:0 0px 20px;
}
#page_contact #contents table{
	margin-left:0;
}
#page_contact #contents input,
#page_contact #contents textarea,
#page_contact #contents select{

	font-family:Arial, sans-serif; 
	color:#121212;
	padding:5px 5px;
	font-size:14px;
	border:solid 1px #ccc; 
}
#page_contact #contents input:focus,
#page_contact #contents textarea:focus{
    border:solid 1px #6e4323;
}
table#mfp_confirm_table {
border: solid 1px #CCC;
margin-bottom:30px;
}
table#mfp_confirm_table tr td{
	padding-top:15px !important;
	padding-bottom:15px !important;
border: solid 1px #CCC;
}
table#mfp_confirm_table tr th{
	background:#F6F7F9;
	padding-left:20px;
	padding-right:20px;
border: solid 1px #CCC;
}
.mfp_buttons{
	text-align:center;
}
#page_contact #contents .privacy {
	
	text-align:center;
	padding:20px 0;
	}
#page_contact #contents .privacy a{
	text-decoration:underline;

	}
#page_contact input[type=submit],
#page_contact section .submit_btn button,
.mfp_buttons button{
	border:none;
   margin:0 auto;
   border-radius:3px;
         padding:10px 60px;
   cursor:pointer;
   display:block;
   font-weight:bold;
	color:#fff;
	background:#e84c8f;
	text-shadow:none;
	font-size:14px;
	box-shadow:none;
}
.mfp_buttons button:hover{
	background:#f2554e;
	box-shadow:none;
}
#page_contact #contents input[type=submit]:hover{
	background:#f2554e;
}
#page_contact #contents p.btn{
	text-align:center;
}
#mfp_confirm_table td{
	padding-top:8px;
	padding-bottom:8px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　pricacy.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_privacy section h4{
	margin:30px 0px 10px;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #999;
}



/* sitemap.html
----------------------------------------------------------------------------------------------------*/
#page_site #contents ul.left {
	margin:10px 20px 0px 30px;
	padding:3px 30px 0px 5px;
	float:left;
}
#page_site #contents ul.right {
	margin:10px 20px 0px;
	padding:3px 5px 0px;
	float:left;
}
#page_site #contents ul{
	margin-bottom:30px;
}
#page_site #contents ul li {
	padding-left:20px;
	margin-bottom:15px;
	font-size:108%;
}
#page_site #contents ul li a{
	display:inline-block;
	border-bottom:1px solid #ccc;
	width:190px;

	padding:8px 20px 5px 15px;
	text-decoration:none;
	position:relative;
	
}

#page_site #contents ul li a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#page_site #contents ul li a:hover{

}
/* link.html
----------------------------------------------------------------------------------------------------*/
#page_link contents h3{
	margin-left:4px;
	margin-bottom:20px;
}


#page_link #contents dl{
	margin:10px 20px;
	border-bottom:dotted 1px #999;
	padding:3px 5px 5px;
}


#page_link #contents dl dt{
	background:url(images/list_mark.gif) no-repeat 0px 1px;
	padding-left:20px;
	margin-right:20px;
}
#page_link #contents dl dd{
	padding-left:20px;
	padding-bottom:8px;
}


/* news一覧
----------------------------------------------------------------------------------------------------*/
section.news_list {
	padding: 90px 0px 25px !important;
	background: #fff;
}



/* single
----------------------------------------------------------------------------------------------------*/
#page_single .news_entry {

}
ul.page_link{
	padding-top:30px;
}
ul.page_link li a{
	font-size:15px;
	display:inline-block;
	padding:5px 15px;
	background:#efefef;
	border:1px solid #ccc;


}
ul.page_link li.prev{
	float:left;
}
ul.page_link li.next{
	float:right;
}
.news_entry .entry-header h3 {
	margin-bottom: 20px;
	border-bottom: 1px solid #c7b299;
	font-size: 20px;
	padding: 3px 0px 10px;
	font-weight: bold;
}

.news_entry .entry-header span.date {
    font-size: 11px;
    line-height: 1;
    margin-right: 15px;

	
}
.news_entry .entry-header .name{
font-size: 11px;
    line-height: 1;
    display: inline-block;
    color: #B3B3B3;
}

.news_entry .entry-content{
	font-size:16px;
}

.news_entry .entry-content img {
	max-width: 100%;
	margin-bottom: 10px;
}

.news_entry .entry-content p{
	margin-bottom: 10px;
}

.news_entry .entry-content h3{
	margin-bottom: 10px;
		font-weight:bold;
	font-size:17px;
		border-left: 3px solid #f6526d;
    padding: 0 0 0 15px;
	line-height:1.5;
}
.news_entry .entry-content h4{
	margin-bottom: 10px;
		font-weight:bold;
	font-size:16px;
}

.news_entry .entry-content strong{
	font-weight:bold;
}
.news_entry .entry-content ul{
	list-style:circle;
}
.news_entry .entry-content ol{
	list-style:decimal;
}
.news_entry .entry-content a{
	text-decoration:underline;
}
.news_entry .entry-content blockquote{
	color:#999;
}
.news_entry .entry-content em{
	color:#000;
	font-weight:normal;
}