@charset "UTF-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.pc {
    display: none;
}

* {
    x-webkit-appearance: none;
}

html {
    background-color: #fff;
}

body {
    font-size: 13px;
    -webkit-text-size-adjust: 100%;
    min-width: 100%;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 1.2px;
    color: #333333;
    font-family: "ヒラギノ角ゴ Pro W3", Lucida Grande, Hiragino Kaku Gothic Pro, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 13.5px;
}

/* link */
a {
    color: #1a1a1a;
    text-decoration: none;
}

a:link {
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

a:hover {
    color: #1a1a1a;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -moz-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -ms-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -o-linear-gradient(left, #eee, #ddd, #eee);
}

img {
    max-width: 100%;
    height: auto;
}

#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
    width: 100%;
    overflow: hidden;
}

.wrapper660 {
    width: 100%;
    text-align: left;

}

.wrapper_inner {
    width: 100%;
    text-align: left;
}

.wrapper {
    width: 100%;
    text-align: left;
}

.color_line {
    background: url(../../images/header_line.jpg) repeat-x;
    height: 4px;
    width: 100%;
}

.bg_yellow {
    background: #ffd200;

}

.bg_beige {
    background: #f6f2e9;

}

section.pd {
    padding: 6% 4%;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    display: block;
    position: fixed;
    background: #fff;
}

header .spmenu #menu-text {
    position: absolute;
    padding-top: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    left: 14px;
}

.drawer-open #menu-text {
    left: 12px !important;
}

.drawer-close #menu-text {
    left: 15px !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

.drawer-open .drawer-hamburger-icon {
    background-color: #e84c8f !important;
}

header .spmenu .nav-top {
    display: block;
    background: #fff;
    border-bottom: 1px solid #e84c8f;
}

header .spmenu .nav-top ul {
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    background: #FAF7EB;
    border-top: 2px solid #e84c8f;
}

header .spmenu .nav-top ul li {
    float: left;
    margin-right: 2%;
    width: 46.5%;
}

header .spmenu .nav-top ul li:first-of-type {
    margin-left: 2%;
}

header .spmenu .nav-top ul li a {
    width: 100%;
    display: block;
    background: #1ea9c8;
    border: 1px solid #191e61;
    padding: 6px 0 0;
    border-radius: 5px;
}

header .spmenu .nav-top ul li img {
    width: 25px;
    margin: 0 auto;
    display: block;
    line-height: 1;
    text-align: center;
}

header .spmenu .nav-top ul li .text {
    font-size: 10px;
    line-height: 0;
    top: -1px;
    position: relative;
    color: #fff;
    display: block;
    padding: 10px 0;
}

header .spmenu h1 {
    text-align: left;
    padding: 9px 0 0 10px;
}

header .spmenu h1 .text {
    position: relative;
    float: left;
    font-size: 13px;
    font-size: 1.3rem;
    top: 6px;
    padding-left: 10px;
    color: #333;
}

header .spmenu h1 .text br {
    display: none;
}

header .spmenu h1 img {
    float: left;
    width: 220px;
}

header .spmenu .drawer-hamburger {
    width: 2.1rem;
    padding: 10px 13px 30px;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    background: #e84c8f;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}

header .spmenu .drawer-menu-item {
    text-align: left;
    padding: 5% 8% 5% 4%;
    position: relative;
    font-size: 13px;
    background: #fff !important;
    color: #000 !important;
}

header .spmenu .drawer-menu-item span {
    font-size: 11px;
    padding-left: 8%;
    color: #e84c8f;
}

header .spmenu .drawer-menu li {
    width: 50%;
    float: left;
}

header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
    border-left: 1px solid #e84c8f;
}

header .spmenu .color .drawer-menu-item {
    color: #000;
    background: #fff;
    border-bottom: 2px solid #e84c8f;
}

header .spmenu li #acMenu dt {
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

header .spmenu .sp-title {
    padding: 3% 4% 2% 2%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: #e84c8f;
}

.drawermenu .inner {
    border-top: none !important;
}

header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid #e84c8f;
    border-right: 1px solid #e84c8f;
}

header .spmenu .drawer-menu-item:hover {
    text-decoration: none;
}

header .spmenu .drawer-nav {
    background-color: rgba(0, 0, 0, 0.8) !important;
}



/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents {
    font-size: 14px;
}

#page_404 #contents {
    padding: 20% 4%;
    text-align: center;
    background: url(../../images/slide01.jpg) no-repeat top center;
    color: #fff;
}

#page_404 #contents section {
    font-weight: bold;
}

#page_404 #contents a {
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 0 5px;
    display: block;
}

#page_404 #contents a:hover {
    text-decoration: none;
}

#page_404 #contents .wrapper {
    text-align: center;
    padding-bottom: 0%;

}

#contents img {
    max-width: 100%;
    height: auto;
}

.bg_color1 {
    background: #FAF7EB;
}

.bg_color2 {
    background: #f1f1f1;
}

/* sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {
    margin-top: 8%;
    display: none;
}

#sidebar h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#sidebar section {
    margin-bottom: 6%;
}

#sidebar section.news ul {
    border-top: 1px dashed #ddd;
}

#sidebar section.news ul li a {
    padding: 18px 0 15px;
    display: block;
    border-bottom: 1px dashed #ddd;
}

#sidebar section.news a {
    color: #333;
    display: block;
}

#sidebar section.news a:hover {
    color: #333;
    text-decoration: none;
}

#sidebar section.news dl dd span.date {
    font-size: 11px;
    display: block;
}

#sidebar section.news dl dd span.cat {
    font-size: 11px;
    text-align: left;
    display: block;
}

#sidebar section.news dl dd .text {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    line-height: 1.6;
}

#sidebar section.news a:hover .text {
    text-decoration: none;
}



/* footer
----------------------------------------------------------------------------------------------------*/
section.shopinfo {
    padding: 6% 0 0%;
    border-top: 5px solid #e23827;
}

section.shopinfo h2 {
    text-align: center;
    margin: 0 25% 5px;
}

section.shopinfo h3 {
    text-align: center;
    margin-bottom: 4%;

}

section.shopinfo address {
    margin: 4% 4% 10px;
    font-size: 14px;
    text-align: center;
}

section.shopinfo #map {
    margin: 0px 4% 0;
}

section.shopinfo #map iframe {
    width: 100%;
    height: 300px;

}

section.shopinfo p.tel {
    text-align: center;
    font-size: 12px;
    margin-bottom: 6%;
}

section.shopinfo p.tel a {
    display: inline-block;
    margin-bottom: 5px;
}

section.shopinfo p.btn {
    text-align: center;
}

section.shopinfo p.btn a {
    background: #e23827;
    color: #fff;
    line-height: 1;
    width: 92%;
    margin: 0 4%;
    box-sizing: border-box;
    display: block;
    padding: 18px 0 16px;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
}

section.shopinfo p.btn a:hover {
    text-decoration: none;


}

section.shopinfo p.btn a::after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

section.other_link {
    background: #fff8e9;
}

section.other_link ul {
    padding: 2% 4% 4%;
}

section.other_link ul li {
    text-align: center;
    margin-bottom: 2%;
	width:49%;
	margin-right:2%;
	float:left;
}
section.other_link ul li:nth-child(odd) {
	clear:both;
}
section.other_link ul li:nth-child(even) {
	margin-right:0;
}
section.other_link ul li img{
	max-width:100%;
	height:auto;
}

/* footer
----------------------------------------------------------------------------------------------------*/

footer.global {
    background: #f6f2e9;
    padding: 0% 0 20%;
    width: 100%;
    border-top: 1px solid #aaa;
}

footer.global nav {
    margin-bottom: 10%;
}

footer.global nav ul {
    margin: 0 0%;

}

footer.global nav ul li {
    position: relative;


}

footer.global nav ul li a {
    display: block;
    border-bottom: 1px solid #aaa;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 4%;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    line-height: 1;
    color: #1a1a1a;
    font-size: 13px;
    background: #fff;

}

footer.global nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 3%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer.global nav ul li a:hover {
    text-decoration: none;
    color: #0A2C87;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



footer.global ul.bnr {
    text-align: center;
    padding: 0 2% 0 4%;

}

footer.global ul.bnr li {
    margin: 0 2% 6% 0;
    width: 48%;
    float: left;
}

footer.global p.copy {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
    display: block;
    background: #ea9000;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer.global .pagetop a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 15%;

}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
#pagetitle .line {
    height: 1px;
    background: #ccc;
    margin-top: 0px;
    position: relative;
}

/* ページタイトル */
#pagetitle {
    margin-top: 52px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

#pagetitle .logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#pagetitle .logo img {
    width: 24%;
}

#pagetitle h2 {
    display: none;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    padding-top: 65px;
    text-shadow: 0px 1px 3px #888;
    letter-spacing: 3px;
    text-align: center;
}

#page_about #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_single #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_staffblog #pagetitle {
    background: url(../../images/pagetitle_about.jpg) no-repeat bottom center;
    background-size: cover;
}

#page_event #pagetitle {
    background: url(../../images/pagetitle_event.jpg) no-repeat top right;
    background-size: cover;
}

#page_flow #pagetitle {
    background: url(../../images/pagetitle_flow.jpg) no-repeat top right;
    background-size: cover;
}

#page_faq #pagetitle {
    background: url(../../images/pagetitle_flow.jpg) no-repeat top right;
    background-size: cover;
}

#page_introduction #pagetitle {
    background: url(../../images/pagetitle_company.jpg) no-repeat top right;
    background-size: cover;
}

#page_company #pagetitle {
    background: url(../../images/pagetitle_company.jpg) no-repeat top right;
    background-size: cover;
}

#page_contact #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}

#page_thanks #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}

#page_privacy #pagetitle {
    background: url(../../images/pagetitle_privacy.jpg) no-repeat top right;
    background-size: cover;
}

#page_site #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}

#page_link #pagetitle {
    background: url(../../images/pagetitle_contact.jpg) no-repeat top right;
    background-size: cover;
}
