@charset "UTF-8";
/* index
----------------------------------------------------------------------------------------------------*/
#page_index #main_img {
  width: 100%;
  padding: 0px 0;
    margin-top:52px;
  position: relative;

}



#page_index #main_img #slide_text {
  position: absolute;
  bottom: 46%;
  z-index: 10;
  display:none;
  margin:0 10% 0%;
}
#page_index #main_img #slide_text img{
    max-width:100%;
    height:auto;
}
#page_index #main_img #slide_logo {
    position: absolute;
    bottom: 0px;
    text-align:center;
    z-index: 10;
    width:100%;

}
#page_index #main_img #slide_logo img{
    max-width:40%;
    height:auto;
}

#page_index #main_img .sp-image-container {
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}



/* about
-------------------*/



#page_index section.about {
    padding:8% 4% 4%;
    background: url(../../images/bg_ptn1.jpg) repeat;
    background-attachment: fixed;

}
#page_index section.about h2{
    text-align:center;
    margin-bottom:2%;
margin-top: 4%;
}
#page_index section.about p.text{
    margin-bottom:2%;

}

#page_index section.about h2{
    font-size: 18px;
	font-weight:bold;
}

#page_index section.about .text {
	font-weight:bold;
}

#page_index section.about .grid1 {
    margin-bottom:4%;
}


#page_index section.about ul.col2{
    margin-top:4%;
}
#page_index section.about ul.col2 li img{
    width:100%;
    height:auto;
    margin-bottom:4%;

}
section.kyusyoku {
    width: 92%;
    margin:0 auto;
    margin-bottom:4%;
    margin-top:4%;
}
#page_index section.sougei{
    background: url(../../images/bg_ptn2.jpg) repeat;
    padding-top: 4%;
    padding-bottom: 4%;
}
#page_index section.sougei h3{
    background:#e23827;
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height:1.6;
    padding:2% 0 0.5%;
}
section.sougei p {
    color:#fff;
    margin-left:4%;
    margin-right:4%;
    padding-top:4%;
    font-size: 14px;
}

#page_index section.sougei .bnr{
    padding:2%;
    text-align:center;
    border:3px solid #e23827;
    margin:0;

}

#page_index section.houshin{
    padding:8% 4% 10%;
    text-align:center;


}
#page_index section.houshin .wrapper{
    position:relative;
    text-align:center;
}
#page_index section.houshin .photo1{
    display:none;
}
#page_index section.houshin .photo2{
    display:none;

}
#page_index section.houshin p.text{
    font-size:13px;
    margin-top:4%;
    line-height:1.6;
    margin-bottom:4%;
    text-align:left;
}
#page_index section.houshin p.btn a{
    background:#ff931e;
    color:#fff;
    line-height:1;
    width:100%;
    display:block;
    padding:4.5% 0 3%;
    border-radius:3px;
    font-size:14px;
    position:relative;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#page_index section.houshin p.btn a:hover{
    text-decoration:none;
    background:#ffa348;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
#page_index section.houshin p.btn a::after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#page_index section.blog{
    padding:6% 4% 4%;
}
#page_index section.blog .h_line{

}
#page_index section.day{
    background: url(../../images/bg_ptn1.jpg) repeat;
    background-attachment: fixed;
}
#page_index section.day h3{
    text-align:center;
    margin-bottom:2%;
    font-size: 18px;
    font-weight: bold;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　line
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

section.line{
    background:#3eb034;
    padding:2% 0 4%;

}
section.line .wrapper{
    width:100%;
    font-size:12px;

}
section.line .center{
    background:url(../../images/line_center.jpg) repeat-y;
    background-size:100% auto;
    padding:10px 8% 1px 8%;
}
section.line .center dl{
    border-bottom:1px solid #ccc;
    padding-bottom:15px;
    margin-bottom:20px;
}
section.line .center dl:last-child{
    border-bottom:none;
    margin-bottom:0px;
}
section.line .center dl dt{

}
section.line .center dl dt h3{
    margin-bottom:4%;
}
section.line .center dl dt h4{
    color:#3eb134;
    font-weight:bold;
    font-size:13px;
    line-height:1.6;
    margin-bottom:3%;
}
section.line .center dl span.em{
    color:#3eb134;
    font-weight:bold;
}
section.line .center dl dd{

    padding-top:2%;
    text-align:center;
}
.cont3 dd img{
    width:40%;
    height:auto;
}

section.line .bottom{
    padding:0;
    vertical-align:top;

}
section.line .bottom img{
    vertical-align:top;
}


/* about
----------------------------------------------------------------------------------------------------*/


#page_about .about_top p {
	text-align:left !important;

}
#page_about section.about_top h3{
    margin-bottom:4%;
}
#page_about #info p{
    margin-bottom:4%;

}#page_about .transport p{
    text-align:left;
}
#page_about .transport .box{
    xborder:1px solid #e23827;
    padding:2%;
    background:#fff;
    margin-top:4%;
    text-align:center;

}
#page_about ul.col2{

}
#page_about ul.col2 li{

    margin:0 0 4%;
    text-align:center;
}

#page_about p{
    text-align:center;
}
#page_about p.t1{
    font-size:12px;
    border-top:1px solid #ccc;
    padding-top:4%;
}
#page_about p.address{
    margin-top:6%;
}
#page_about p.address strong{
    font-weight:bold;
    font-size:15px;
}
#page_about p.tel{
    font-size:16px;
}
#page_about p.tel span{
    font-size:11px;
    display:block;
    line-height:1.6;
    font-size: 12px;
}
#page_about p.toptext{
    margin-bottom:4%;

}


#page_about .about_top .photo {
    width: 100%;
}

#page_about .about_top .photo .col1 {
    margin-top:4%;
    margin-bottom:4%;
}




/* flow
----------------------------------------------------------------------------------------------------*/
#page_flow .flow_bg h4{
    background:#e84c8f;
    color:#fff;
    border-radius:3px;
    font-weight:bold;
    padding:1.5% 2%;
    margin-bottom:2%;
}
#page_flow .flow_bg p{
    margin-bottom:2%;
}


/* faq.html
----------------------------------------------------------------------------------------------------*/
#page_faq .text{
    margin-bottom:2%;
}
#page_faq #contents dl{

    border:3px solid #e84c8f;
    margin-bottom:4%;
    border-radius:5px;
}
#page_faq #contents dl dt{
    background:#e84c8f;
    color:#fff;
    font-weight:bold;
    padding:5px 0 4px 15px;
    font-size:13px;
    text-align:left;
}

#page_faq #contents dl dd{
    padding:4%;

    line-height:1.7;
    text-align:left;
}



/* introduction.html
----------------------------------------------------------------------------------------------------*/
#page_introduction #contents p {
    margin:0 2% 4%;
}

#page_introduction section.message{
    padding-bottom:0;
}
#page_introduction dl{
    margin:4% 2% 2%;
}
#page_introduction dl dt{
    border-left:2px solid #e83813;
    padding-left:10px;
    color:#333;
    margin:0 0 8px 0;
    font-size:116%;
    line-height:1.2;
}
#page_introduction dl dd{
    padding-left:12px;
    margin-bottom:20px;
}
#page_introduction dl dd table{
    margin:10px 0 10px;
}
#page_introduction dl dd p{
    margin:0;
    padding:0;
}

#page_introduction section.info ul.circle {
    margin: 10px 15px 20px;
    background: #f6f2e9;
    padding: 15px 3% 10px 3%;
    list-style: outside disc;
    border: 1px solid #ede1c8;
}
#page_introduction section.info ul.circle li {
    list-style: outside disc;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 100%;
}

#page_introduction section.info p {
    padding-left: 25px;
    margin-bottom: 15px;
}

/* event
----------------------------------------------------------------------------------------------------*/

#page_index p.sche{
    text-align:center;
}
#page_index p.sche img{
    margin-bottom:4%;
	width:46%;
	display:inline-block;
	margin:0 2%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　company.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_company section.info h4{
    border-bottom:1px dashed #ccc;
    font-size:15px;
    background:url(../../images/index_vision_mark.jpg) no-repeat 0 6px;
    padding-left:25px;
    padding-bottom:5px;
    margin-bottom:15px;
}
#page_company section.info p{
    padding-left:25px;
    margin-bottom:15px;
}
#page_company section.info dl{
    padding-left:14px;
    margin-bottom:15px;
}
#page_company section.info dl dt{
    padding-bottom:5px;
}
#page_company section.info dl dd{
    padding-left:20px;
}


#page_company section.info ul.circle{
    margin:10px 15px 20px;
    background:#fff;
    padding:15px 3% 10px 3%;
    list-style:outside disc;
    border:1px solid #ede1c8;

}
#page_company section.info ul.circle li{
    list-style:outside disc;
    margin-left:20px;

    margin-bottom:10px;
    font-size:100%;
}


#page_company section#shop h4{
    font-size:131%;
    background:url(../../images/index_vision_mark.jpg) no-repeat 0 6px;
    padding-left:22px;
    padding-bottom:5px;
    margin-bottom:5px;
    margin-left:20px;
}

/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact section.contact {
  padding: 0px 20px;
}

#page_contact .toptext {
  margin: 40px 0;
}

#page_contact .toptext p {
  margin-bottom: 1em;
  font-size: 13px;
}

#page_contact .tel a {
  text-decoration: none;
}

#page_contact form {
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
  margin-bottom: 60px;
}
#page_contact form em{
    font-size:13px;
}

#page_contact form table {
  border: none;
  margin: 30px auto 30px !important;
  font-size: 16px;

}

#page_contact form table tr {
 x border-bottom: 1px dashed #c7b299 !important;
  padding: 20px 0 20px !important;
}

#page_contact form table th {
  padding: 25px 10px 20px !important;
  border: none !important;

  text-align: left !important;
  vertical-align: middle !important;
}

#page_contact form table span.small {
  font-size: 11px;
  line-height: 1 !important;
}

#page_contact form table span.small a {
  color: #2e3192;
  text-decoration: none;
}

#page_contact form table span.small a:hover {
  text-decoration: none;
}

#page_contact form table td {
  padding: 20px 10px 20px !important;
  border: none !important;
  text-align: left !important;
    box-sizing:border-box;
}

#page_contact form table td p {
  margin-bottom: 10px;
}

#page_contact form input[type=text] {
  width: 100%;
  padding: 7px 10px;
  font-size: 16px;
    box-sizing:border-box;
    border:1px solid #999;
}

#page_contact form select {
  font-size: 16px;
  padding: 7px 10px;
    box-sizing:border-box;
     border:1px solid #999;
     background:#fff;
}

#page_contact form textarea {
  width: 100%;
  border:1px solid #999;
  font-size: 16px;
  padding: 7px 10px;
  box-sizing:border-box;
}

#page_contact form p.submit {
  text-align: center;
  display: block;
  margin: 4 0px auto 10px;
}

#page_contact form p.submit input[type=submit] {
  padding: 18px 100px 15px 110px;
  font-size: 1.2em;
  background-color: #fff;
  color: #333;
  margin-bottom:6%;
  cursor: pointer;
  border: 1px solid #999;
  background: #f2f2f2 url(../images/more_icon.svg) no-repeat 85px center;
}

#page_contact form p.submit input[type=submit]:hover {
  background: #dfdfdf url(../images/more_icon.svg) no-repeat 85px center;
}

/* sp */
@media screen and (max-width: 480px) {
  #page_contact section.contact {
    padding: 0px 0;
  }

  #page_contact .toptext {
    margin: 6% 0;
  }

  #page_contact .toptext p {
    margin-bottom: 1em;
    font-size: 13px;
  }

  #page_contact form {
    padding: 2% 4% 4%;
    margin-bottom: 10%;
  }

  #page_contact form table {
    margin: 0% auto 0 !important;
    font-size: 16px;
    width: 100% !important;
    display: block;
    box-sizing:border-box;
  }

  #page_contact form table tr {
    width: 100%;
    display: block;
    padding: 5% 0 2% !important;
  }

  #page_contact form table th {
    padding: 0% !important;
    border: none !important;
    width: 100% !important;
    vertical-align: middle !important;
    display: block;
    line-height: 1.4;
  }
#page_contact #contents .privacy {

    text-align:center;
    padding:0 0 20px;
    }
#page_contact #contents .privacy a{
    text-decoration:underline;

    }
  #page_contact form table span.small {
    font-size: 11px;
    line-height: 1 !important;
  }

  #page_contact form table span.small a {
    color: #2e3192;
    text-decoration: none;
  }

  #page_contact form table span.small a:hover {
    text-decoration: none;
  }

  #page_contact form table td {
    padding: 2% 0px 2% !important;
    width: 100%;
    display: block;
  }

  #page_contact form table td p {
    margin-bottom: 10px;
  }

  #page_contact form input[type=text] {
    width: 100% !important;
    max-width:100% !important;
    padding: 7px 10px;
    box-sizing:border-box;
    font-size: 16px;
  }

  #page_contact form select {
    font-size: 16px;
    padding: 7px 10px;
  }

  #page_contact form textarea {
    width: 100% !important;
    font-size: 16px;
    padding: 7px 10px;
    box-sizing:border-box;
        max-width:100% !important;
        height:10em !important;
  }
table#mfp_confirm_table{
    margin-bottom:4%;
}
#page_contact input[type=submit], #page_contact section .submit_btn button, .mfp_buttons button{
    width:100%;
}
  #page_contact form label {
    display: block;
    text-align: center;
    padding: 1.5% 0 1%;
    margin-bottom: 4%;
  }
input[type="radio"]:checked + label::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #3498db;
  border-radius: 100%;
}
  #page_contact form p.submit {
    text-align: center;
    display: block;
    margin: 4% auto 6%;
  }

  #page_contact form p.submit input[type=submit] {
    padding: 18px 10% 15px 10%;
    width: 100%;
    font-size: 1.2em;
    background-color: #fff;
    box-sizing:border-box;
    color: #333;
    cursor: pointer;
    border: 1px solid #999;
    background: #f2f2f2 url(../images/more_icon.svg) no-repeat 10% center;
  }

  #page_contact form p.submit input[type=submit]:hover {
    background: #f2f2f2 url(../images/more_icon.svg) no-repeat 10% center;
  }
}
form#mailformpro label{
    display:block !important;
    text-align:left;
}

#page_contact input[type=submit],
#page_contact section .submit_btn button,
.mfp_buttons button{
    border:none;
   margin:0 auto;
   border-radius:3px;
         padding:10px 60px;
   cursor:pointer;
   display:block;
   font-weight:bold;
    color:#fff;
    background:#e84c8f;
    text-shadow:none;
    font-size:14px;
    box-shadow:none;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　pricacy.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#page_privacy section h4{
    margin:4% 0px 10px;
    font-size:14px;
    font-weight:bold;
    border-bottom:1px solid #999;
}



/* sitemap.html
----------------------------------------------------------------------------------------------------*/
#page_site #contents ul.left {
    margin:2% 2% 0;
    padding:4% 4% 0;

}
#page_site #contents ul.right {
    margin:0 2% 2%;
    padding:0 4% 4%;
}
#page_site #contents ul{

}
#page_site #contents ul li {

    font-size:108%;
}
#page_site #contents ul li a{
    display:block;
    border-bottom:1px solid #ccc;
    padding:10px 20px 8px 4%;
    text-decoration:none;
    position:relative;

}

#page_site #contents ul li a::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#page_site #contents ul li a:hover{

}
/* link.html
----------------------------------------------------------------------------------------------------*/
#page_link contents h3{
    margin-left:4px;
    margin-bottom:20px;
}


#page_link #contents dl{
    margin:2% 2%;
    border-bottom:dotted 1px #999;
    padding:3px 2% 5px;
}


#page_link #contents dl dt{
    background:url(images/list_mark.gif) no-repeat 0px 1px;
}
#page_link #contents dl dd{

    padding-bottom:8px;
    word-wrap: break-word;
}
/* news一覧
----------------------------------------------------------------------------------------------------*/
section.news_list {
    padding: 6% 4% 4% !important;
    background: #fff;
}
section.news_list dl dd span.date {
    font-size: 11px;
    line-height: 1;
    display: inline-block;
    margin-right: 15px;
}
section.news_list dl dd span.name {
    font-size: 11px;
    line-height: 1;
    display: none;
    font-size: 10px;
    color: #B3B3B3;
}
section.news_list dl dd p {
    line-height: 1;
}
section.news_list dl dd .text {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    line-height: 1.6;
}
section.news_list a:hover .text {
    text-decoration: none;
}
/* single
----------------------------------------------------------------------------------------------------*/
#page_single .news_entry {
    padding: 6% 4% 4% !important;
    background: #fff;
}
ul.page_link{
    padding-top:2%;
    padding-bottom:4%;
}
ul.page_link li a{
    font-size:13px;
    display:inline-block;
    padding:5px 10px;
    background:#efefef;
    border:1px solid #ccc;


}
ul.page_link li.prev{
    float:left;
}
ul.page_link li.next{
    float:right;
}
#page_single article{

}
.news_entry .entry-header h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid #c7b299;
    font-size: 16px;
    padding: 0 0px 10px;
    font-weight: bold;

}
.news_entry .entry-header .cat {
    display: inline-block;
    padding: 1px 0px;
    text-align: center;
    font-size: 13px;
    color: #0A2C87;
    font-weight: bold;
    line-height:1.1;
}
.news_entry .entry-header span.date {
    font-size: 11px;
    line-height: 1;
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight:bold;

}
.news_entry .entry-header .name{
font-size: 11px;
    line-height: 1;
    display: inline-block;
    color: #B3B3B3;
}

.news_entry .entry-header .cat.icon_cars {
    background: url(../../images/icon_car.png) no-repeat 0 0px;
    padding-left: 24px;
}
.news_entry .entry-header .cat.icon_maintenance {
    background: url(../../images/icon_mente.png) no-repeat 0 0px;
    padding-left: 22px;
}
.news_entry .entry-header .cat.icon_voice {
    background: url(../../images/icon_voice.png) no-repeat 0 0px;
    padding-left: 22px;
}
.news_entry .entry-header .cat.icon_information {
    background: url(../../images/icon_info.png) no-repeat 0 0px;
    padding-left: 22px;
}


.news_entry .entry-content img {
    max-width: 100%;
    margin-bottom: 10px;
}


.news_entry .entry-content p{
    margin-bottom:10px;
}


.news_entry .entry-content h3{
    margin-bottom: 10px;
        font-weight:bold;
    font-size:15px;
        border-left: 3px solid #f6526d;
    padding: 0 0 0 15px;
    line-height:1.5;
}
.news_entry .entry-content h4{
    margin-bottom: 10px;
        font-weight:bold;
    font-size:14px;
}

.news_entry .entry-content strong{
    font-weight:bold;
}
.news_entry .entry-content ul{
    list-style:circle;
}
.news_entry .entry-content ol{
    list-style:decimal;
}
.news_entry .entry-content a{
    text-decoration:underline;
}
.news_entry .entry-content blockquote{
    color:#999;
}
.news_entry .entry-content em{
    color:#000;
    font-weight:normal;
}

