@charset "UTF-8";
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 見出し設定 (ページ毎の調整はページで行う) 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.headline01 {
  letter-spacing: 1.4px;
  font-size: 15px;

  padding:1.5% 0 0.5%;
  color:#565656;
  font-weight:bold;
  text-align:center;
  margin:0 2% 5%;
  border-top:1px solid #de007f;
 border-bottom:1px solid #de007f;
  
}

.headline02 {
  letter-spacing: 1.4px;
  font-size: 15px;
  margin-bottom: 4%;
  padding-bottom:3px;
  font-weight: bold;
    color: #e23828;
    border-bottom: 2px solid #e23828;
  }

.headline03 {
  border-top: 1px solid #c7b299;
  border-bottom: 1px solid #c7b299;
  padding: 8px 0 1px;
  text-align: center;
  font-size: 24px;
  color: #553b00;
  margin-bottom: 20px;
}

.headline04 {
  text-align: center;
}

.headline05 {
  text-align: center;
  font-size: 24px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/*++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 リンクボタン
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.more {
  text-align: center;
}

.more a {
  text-align: center;
  padding-left: 20px;
  font-size: 18px;
  background: url(../images/more_icon.svg) no-repeat 0px 6px;
}

.linkbtn1 a {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 500px;
  padding: 10px 0 5px;
  text-align: center;
  font-size: 22px;
  position: relative;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.linkbtn1 a:hover {
  xcolor: #9d0000;
  xborder: 1px solid #9d0000;
  background: rgba(20, 20, 20, 0.1);
  text-decoration: none;
}

.linkbtn1 span.icon {
  background: url(../images/more_icon.svg) no-repeat left 7px;
  padding-left: 25px;
}

.linkbtn2 a {
  font-size: 19px;
  border: 1px solid #ccc;
  display: inline-block;
  text-decoration: none;
  padding: 18px 20px 17px 75px;
  line-height: 1;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 10px 0px 10px 0;
  background: #fff url(../images/icon_dina.svg) no-repeat left20px center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.linkbtn2 a:hover {
  border: 1px solid #9d0000;
  color: #9d0000;
  background: #fff url(../images/icon_dina.svg) no-repeat left20px center;
}

.linkbtn3 {
  text-align: center;
}

.linkbtn3 a {
  font-size: 18px;
  border: 1px solid #bababa;
  display: inline-block;
  text-decoration: none;
  padding: 18px 20px 17px 65px;
  line-height: 1;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 10px 0px 10px 0;
  background: url(../images/icon_pdf.png) no-repeat left20px center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.linkbtn3 a:hover {
  border: 1px solid #9d0000;
  color: #9d0000;
  background: url(../images/icon_pdf.png) no-repeat left20px center;
}

/*
.link_btn2 a{
	text-align:center;
	text-decoration:none;
	background:#fff;
	color:#666;
	font-size:12px;
	display:inline-block;
	padding:12px 35px;
	border:1px solid #ccc;
	line-height:1;
-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;	
}
.link_btn2 a:hover{
	border:1px solid #9d0000;
}
*/
/*
a.btnlink {
    border: 1px solid #aaa;
    display: inline-block;
    text-decoration: none;
    padding: 18px 80px 17px ;
    line-height: 1;
    margin:10px 0px  0 0;
    background:#fff url(../../images/btn_icon.png) no-repeat right+20px center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	color:#555;
}
a.btnlink:hover {
	border: 1px solid #9d0000;
	color:#9d0000;
    background:#fff url(../../images/btn_icon.png) no-repeat right+20px center;
}


a.btnlink2 {
    border: 1px solid #aaa;
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px 12px 50px;
    line-height: 1;
    margin:10px 0px  0 0;
    background:#fff url(../../images/btn_icon.png) no-repeat 25px center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	color:#555;
}
a.btnlink2:hover {
	border: 1px solid #9d0000;
	color:#9d0000;
    background:#fff url(../../images/btn_icon.png) no-repeat 25px center;
}

*/
@media screen and (max-width: 480px) {
  .more a {
    font-size: 14px;
    background: url(../images/more_icon.svg) no-repeat 0px 1px;
  }

  .linkbtn1 a {
    width: 100%;
    margin: 4% 0;
    padding: 2% 4% 1.5%;
    font-size: 16px;
  }

  .linkbtn1 span.icon {
    background: url(../images/more_icon.svg) no-repeat left 3px;
  }

  .linkbtn2 a {
    width: 92%;
    box-sizing: border-box;
    margin: 0 4%;
    background: #fff url(../images/icon_dina.svg) no-repeat left13px center;
    padding: 18px 20px 17px 65px;
    font-size: 16px;
  }

  .linkbtn2 a:hover {
    background: #fff url(../images/icon_dina.svg) no-repeat left13px center;
  }

  .linkbtn3 {
    border: 1px solid #bababa;
    width: 100%;
    margin: 0 4%;
  }

  .linkbtn3 a {
    border: none;
    margin: 0 0%;
    padding: 18px 20px 17px 60px;
    font-size: 16px;
  }

  .linkbtn3 a:hover {
    border: none;
    background: url(../images/icon_pdf.png) no-repeat left20px center;
  }
}
/*++++++++++++++++++++++++++++++
　リスト
++++++++++++++++++++++++++++++*/
ul.list_text {
  margin-bottom: 50px;
}

ul.list_text li {
  margin-left: 18px;
  list-style: outside decimal;
  margin-bottom: 10px;
}

ul.list_text li ol {
  margin: 10px 0;
}

ul.list_text li ol li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0px;
}

/*++++++++++++++++++++++++++++++
　　pager
++++++++++++++++++++++++++++++*/
.pagination {
  text-align: center;
  padding: 0 0px 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pagination .page, .pagination .page-numbers {
  display: inline-block;
  padding: 7px 11px 5px;
  margin-right: 6px;
  border: solid 1px #999999;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.pagination .page-numbers.dots {
  border: none;
  background: none;
  box-shadow: none;
}

.pagination a {
  color: #2f4087;
}

.pagination .page:hover, .pagination .page.gradient:hover, .pagination .page-numbers:hover {
  background: #ff931e !important;
  color: #fff;
    border: solid 1px #ff931e;
}

.pagination .page.active, .pagination .page-numbers.current {
  background: #ff931e;
  color: #fff;
  border: solid 1px #ff931e;
}

.pagination .page-numbers.dots:hover {
  background: none !important;
}

.pagination .page-numbers.current:hover {
  background: #2f4087 !important;
}

/* 記事リスト表示
----------------------------------------------------------------------------------------------------*/
.lay_postlist1 {
  margin-bottom: 40px;
}

.lay_postlist1 dl:first-child {
  padding-top: 0;
}

.lay_postlist1 dl {
  padding: 15px 0;
  border-bottom: 1px dashed #ddd;
}

.lay_postlist1 dt {
  width: 170px;
  float: left;
  margin-right: 25px;
}

.lay_postlist1 dt img {
  width: 100%;
  height: auto;
}

.lay_postlist1 dd {
  overflow: hidden;
  padding-top: 5px;
}

.lay_postlist1 dd h3 a {
  font-size: 16px;
  text-decoration: none;
}

.lay_postlist1 dd h3 a:hover {
  text-decoration: none;
}

.lay_postlist1 dd .date {
  font-size: 12px;
  margin: 5px 0 5px;
}

.lay_postlist1 dd .text {
  font-size: 13px;
}

/* 記事リスト */
.lay_postlist2 {
  margin:0 0% 4%;

    border-top: 1px dashed #ddd;
}


.lay_postlist2 dl {
  padding: 18px 0 15px;
  border-bottom: 1px dashed #ddd;
}

.lay_postlist2 dt {
  padding: 0 0 0 0px;
  float: left;
  margin-right:1em;
}

.lay_postlist2 dd {
  overflow: hidden;
  position:relative;
  padding-right:20px;
}

.lay_postlist2 dd h3 a {
  font-size: 13px;
  display: block;
  text-decoration: none;
  position: relative;
}

.lay_postlist2 dd a::after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lay_postlist2 dd h3 a:hover {
  text-decoration: none;
}

.lay_postlist2 dd .date {
  background: #f2f2f2;
  font-size: 12px;
  padding: 5px 10px 3px;
  margin: 5px 0 10px;
}

.lay_postlist2 dd .text {
  font-size: 13px;
}

/* 記事リスト */
.lay_postlist3 {
  margin-bottom: 40px;
}

.lay_postlist3 dl:first-child {
  padding-top: 0;
}

.lay_postlist3 dl {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.lay_postlist3 dt {
  width: 130px;
  float: left;
  margin-right: 30px;
}

.lay_postlist3 dt img {
  width: 100%;
  height: auto;
}

.lay_postlist3 dd {
  overflow: hidden;
}

.lay_postlist3 dd h3 a {
  font-size: 16px;
  text-decoration: none;
}

.lay_postlist3 dd h3 a:hover {
  text-decoration: none;
}

.lay_postlist3 dd .date {
  background: #f2f2f2;
  font-size: 12px;
  padding: 5px 10px 3px;
  margin: 5px 0 10px;
}

.lay_postlist3 dd .text {
  font-size: 13px;
}

/* 写真右 */
.lay_figR {
  box-sizing: border-box;
}

.lay_figR .photo {
  float: right;
  width: 32%;
  margin: 0 0px 20px 0;
}

.lay_figR .photo img {
  max-width: 100%;
  vertical-align: top;
  margin-bottom: 5px;
}

.lay_figR .cont {
  float: left;
  width: 63%;
}

/* 写真左 */
.lay_figL {
  box-sizing: border-box;
}

.lay_figL .photo {
  float: left;
  width: 32%;
  margin: 0 0px 20px 0;
}

.lay_figL .photo img {
  max-width: 100%;
  vertical-align: top;
  margin-bottom: 5px;
}

.lay_figL .cont {
  float: right;
  width: 63%;
}

/* 2カラム
----------------------------------------------------------------------------------------------------*/
/* 余白4％ */
ul.lay_col2 {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}

ul.lay_col2 li {
  width: 48%;
  float: left;
}

ul.lay_col2 li:first-child {
  margin-right: 4%;
}

ul.lay_col2 img {
  max-width: 100%;
  height: auto;
}

/* 余白6％ */
ul.lay_col2_6per {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}

ul.lay_col2_6per li {
  width: 47%;
  float: left;
}

ul.lay_col2_6per li:first-child {
  margin-right: 6%;
}

ul.lay_col2_6per img {
  max-width: 100%;
  height: auto;
}

/* 3カラム
----------------------------------------------------------------------------------------------------*/
/* 余白5％ */
ul.lay_col3 {
  box-sizing: border-box;
  width: 100%;
}

ul.lay_col3 li {
  width: 32%;
  float: left;
  margin-right: 2%;
}

ul.lay_col3 li:last-child {
  margin-right: 0;
}

ul.lay_col3 img {
  max-width: 100%;
  height: auto;
}

/* 余白6％ */
ul.lay_col3_6per {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}

ul.lay_col3_6per li {
  width: 29.33333333333333%;
  float: left;
  margin-right: 6%;
}

ul.lay_col3_6per li:last-child {
  margin-right: 0;
}

ul.lay_col3_6per img {
  max-width: 100%;
  height: auto;
}

/* 4カラム
----------------------------------------------------------------------------------------------------*/
/* 余白5％ */
ul.lay_col4 {
  box-sizing: border-box;
  width: 100%;
  margin-bottom:4%;
  margin-right: -2%;
  overflow: hidden;
}

ul.lay_col4 li {
  width: 23.5%;
  float: left;
  margin-right: 2%;
}

ul.lay_col4 li:last-child {
  margin-right: 0;
}

ul.lay_col4 img {
  max-width: 100%;
  height: auto;
}
