@charset "utf-8";
/* 共通テーブル設定(ページ毎の調整はページで行う) */
table.style1{
	margin:0 0px 20px;

	width:100%;
		background:#fff;
display:block;
  width:100%;
  border-bottom: 1px solid #ccc;

}
table.style1 tr{
  display:block;
  width:100%;
	}
table.style1 th{
	color: #fff;
	font-weight:bold;
	text-align:center;

  background:#e84c8f;
  padding:2% 4%;
  display:block;
  width:92%;

 	
	border-left:1px solid #e84c8f;
	border-right:1px solid #e84c8f;

}

table.style1 td{
	display:block;
  width:92%;
  border-left: 1px solid #ccc;
  	border-right: 1px solid #ccc;
  
	padding:2% 4%;

}


table.style2{
	margin:0 0px 20px;

	width:100%;
		background:#fff;
		font-size:11px;
		line-height:1.6;


}
table.style2 th{
	color: #fff;
	font-weight:bold;
	text-align:center;
	white-space:nowrap;

  background:#e84c8f;
	padding:2% 1.5%;
  	border-right: 1px solid #fff;

}
table.style2 th:last-child {
  	border-right: 1px solid #e84c8f;
}
table.style2 td{
	border-left: 1px solid #ccc;
  	border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
	padding:2% 1.5%;
}

table.style01 {
	border: 1px solid #d7d7d7;
	margin-bottom: 20px;
	font-size: 13.5px;
	width: 100%;
	background:#fff;
}
table.style01 th {
	border: 1px solid #d7d7d7;
	    background: #d8aa4e;
    color: #fff;
	padding: 14px 30px 10px;
	text-align:center;
}
table.style01 td {
	background:#fff;
	padding: 14px 30px 10px;
	border: 1px solid #d7d7d7;
}
table.style02 {
	border-top: 1px dashed #d7d7d7;
	font-size: 14px;
	margin-bottom: 20px;
}
table.style02 th {
	width: 140px;
	padding: 15px 20px;
	border-bottom: 1px dashed #d7d7d7;
}
table.style02 td {
	padding: 15px 20px;
	border-bottom: 1px dashed #d7d7d7;
}

table.style03 {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 13px;
	min-width:250px;
}
table.style03 th {
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 8px 15px;
}
table.style03 td {
	padding: 8px 15px;
	border: 1px solid #ccc;
}
table.style04 {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	border-bottom: solid 1px #ccc;
	margin-bottom:20px;
}
table.style04 tr {
	border-top: solid 1px #ccc;
}
table.style04 th {
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	border-top: solid 1px #ccc;
	padding: 20px 20px 16px 15px;
	
	vertical-align:middle;
	
	
}
table.style04 td {
	background-color: #FFF;
	word-break: break-all;
	    border-top: solid 1px #ccc;
	padding: 20px 20px 16px 30px;
}