@charset "utf-8";
 @import "../import";
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sp {
	display: none;
}
html {
	background-color: #fff;
}
body {
	min-width: 1040px;
	text-align: center;
	line-height: 1.9;
	letter-spacing: 1.2px;
 color: $text_color;
 @include gothic;
	font-size: 13.5px;
}
/* link */
a {
 color: $link_color;
	text-decoration: none;
}
a:link {
color: $link_color;
}
a:visited {
color: $link_color;
}
a:hover {
 color: $link_color;
	text-decoration: underline;
}
hr {
	border: 0;
	height: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #ccc;
	background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
	background-image: -moz-linear-gradient(left, #eee, #ddd, #eee);
	background-image: -ms-linear-gradient(left, #eee, #ddd, #eee);
	background-image: -o-linear-gradient(left, #eee, #ddd, #eee);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/

.wrapper {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto;
	text-align: left;
}
/* header
----------------------------------------------------------------------------------------------------*/

header.global {
	padding-top: 12px;
	position: relative;
	margin-bottom: -51px;
}
header.global .logo {
	float: left;
	padding-top: 0px;
	padding-bottom: 8px;
}
header.global .logo h1 {
	float: left;
	margin-right: 13px;
}
header.global .logo h2 {
	float: left;
	margin-top: 29px;
	font-size: 12px;
}
header.global .right {
	width: 340px;
	float: right;
	text-align: right;
	padding-top: 3px;
	margin-bottom:7px;
}

header.global .right dl img{
	width:100%;
	height:auto;
	}
header.global .right dl dt{
	float:left;
	width:98px;
	margin-right:5px;
	padding-top:5px;
}
header.global .right dl dd{
	float:left;
	font-size:12px;
	text-align:left;
	width:233px;

}
header.global nav {
	border-top: 1px solid #b3b3b3;
	clear: both;
	z-index: 3;
	position: relative;
	width: 100%;
	background: rgba(255,255,255,0.8);
}
header.global nav ul {
	background: url(../images/nav_line.gif) no-repeat left 10px;
	padding-left: 1px;
}
header.global nav ul li {
	position: relative;
	z-index: 100;
	float: left;
	background: url(../images/nav_line.gif) no-repeat right 10px;
}
header.global nav ul li a {
	display: block;
	padding-top: 19px;
	padding-bottom: 17px;
	text-align: center;
	box-sizing: border-box;
	line-height: 1;
	color: #0A2C87;
	font-size: 15px;
}
header.global nav ul li a:hover {
	text-decoration: none;
	color: #0A2C87;
	background: #f2f2f2 url(../images/nav_line.png) no-repeat left top;
 @include transition;
}
header.global nav ul li.icon1 a {
	padding-left: 58px;
	padding-right: 20px;
	background: url(../images/nav_icon1.png) no-repeat 16px 11px;
}
header.global nav ul li.icon1 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon1.png) no-repeat 16px 11px;
}
header.global nav ul li.icon2 a {
	padding-left: 50px;
	padding-right: 20px;
	background: url(../images/nav_icon2.png) no-repeat 17px 12px;
}
header.global nav ul li.icon2 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon2.png) no-repeat 17px 12px;
}
header.global nav ul li.icon3 a {
	padding-left: 55px;
	padding-right: 20px;
	background: url(../images/nav_icon3.png) no-repeat 15px 12px;
}
header.global nav ul li.icon3 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon3.png) no-repeat 15px 12px;
}
header.global nav ul li.icon4 a {
	padding-left: 67px;
	padding-right: 20px;
	background: url(../images/nav_icon4.png) no-repeat 15px 12px;
}
header.global nav ul li.icon4 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon4.png) no-repeat 15px 12px;
}
header.global nav ul li.icon5 a {
	padding-left: 50px;
	padding-right: 20px;
	background: url(../images/nav_icon5.png) no-repeat 15px 12px;
}
header.global nav ul li.icon5 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon5.png) no-repeat 15px 12px;
}
header.global nav ul li.icon6 a {
	padding-left: 55px;
	padding-right: 20px;
	background: url(../images/nav_icon6.png) no-repeat 15px 17px;
}
header.global nav ul li.icon6 a:hover {
	background: rgba(10,44,135,0.2) url(../images/nav_icon6.png) no-repeat 15px 17px;
}
header.global nav ul.drop {
	position: absolute;
	display: none;
	float: none;
	z-index: 100;
	top: 51px;
	border: none;
	background: none;
	overflow: hidden;
}
header.global nav ul.drop li {
	border:none;
	float: none;
	position: static;
}
header.global nav ul.drop li a {
	display: block;
	background: rgba(136,171,218,0.7);
	color: #fff;
	font-size: 12px;
	padding: 7px 15px 5px 15px;
	text-decoration: none;
	width: 175px;
	line-height: 1.6;
}
header.global nav ul.drop li a:hover {
	background: #5185C5;
	background: rgba(81,133,197,0.7);
 @include transition;
}
/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents {
}
#contents img {
	max-width: 100%;
	height: auto;
}
#contents section {
}
#contents p {
}
.bg_color1 {
 background: $bg_color1;
}
.bg_color2 {
 background: $bg_color2;
}
/* sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {
}
/* footer
----------------------------------------------------------------------------------------------------*/

footer.global .top {
	background: #fff;
	padding: 20px 0 20px;
	width: 100%;
}
footer.global .top .pagetop{
	margin-bottom:20px;
}
footer.global .bottom {
	background: #0A2C87;
	padding: 27px 0 23px;
	width: 100%;
	color: #fff;
}
footer.global .bottom .left {
	width: 250px;
	float: left;
}
footer.global .bottom .right {
	width: 700px;
	float: right;
	text-align: right;
	font-size: 12px;
}
footer.global .bottom .right a {
	color: #fff;
	 &:hover {
	 text-decoration:none;
	}
}
footer .bottom p.copy {
	margin-top: 5px;
	font-size: 11px;
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
	height: 300px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
#pagetitle h2 {
	font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	letter-spacing: 2px;
	font-size: 34px;
	padding-top: 76px;
	padding-left: 15px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	color: #fff;
}
#pagetitle nav {
	position: absolute;
	bottom: 0;
	height: 85px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	padding-left: 60px;
}
#pagetitle nav ul li {
	float: left;
	margin-top: 30px;
	margin-right: 70px;
}
#pagetitle nav ul li a {
	padding: 0 0 0 25px;
	font-size: 18px;
	background: url(../images/pagetitle_nav_icon.svg) left 6px no-repeat;
}
#page_company #pagetitle {
	background: url(../images/pagetitle_company.jpg) top center no-repeat;
	background-size: cover;
}
#page_technology #pagetitle {
	background: url(../images/pagetitle_technology.jpg) top center no-repeat;
	background-size: cover;
}
#page_works #pagetitle {
	background: url(../images/pagetitle_works.jpg) top center no-repeat;
	background-size: cover;
}
#page_history #pagetitle {
	background: url(../images/pagetitle_history.jpg) top center no-repeat;
	background-size: cover;
}
#page_recruit #pagetitle {
	background: url(../images/pagetitle_recruit.jpg) top center no-repeat;
	background-size: cover;
}
#page_contact #pagetitle {
	background: url(../images/pagetitle_contact.jpg) top center no-repeat;
	background-size: cover;
}
#page_privacy #pagetitle {
	background: url(../images/pagetitle_privacy.jpg) top center no-repeat;
	background-size: cover;
}
#page_sitemap #pagetitle {
	background: url(../images/pagetitle_privacy.jpg) top center no-repeat;
	background-size: cover;
}
#page_news #pagetitle, #page_archive #pagetitle, #page_single #pagetitle {
	background: url(../images/pagetitle_news.jpg) top center no-repeat;
	background-size: cover;
}
#page_contact #pagetitle nav {
	display: none;
}
#page_privacy #pagetitle nav {
	display: none;
}
#page_sitemap #pagetitle nav {
	display: none;
}
#page_news #pagetitle nav, #page_archive #pagetitle nav, #page_single #pagetitle nav {
	display: none;
}

