@charset "utf-8";
 @import "../import";
/* index
----------------------------------------------------------------------------------------------------*/

#page_index #main_img {
	width: 100%;
	padding: 0px 0 0px;
	height: 570px;
	position: relative;
}
#page_index #main_img .btnarea {
	position: absolute;
	bottom: 30px;
	left: 0%;
	text-align: center;
	width: 100%;
	z-index: 9999;
}
#page_index #main_img #slide_text {
	position: absolute;
	top: 140px;
	left: 50%;
	margin-left: -162px;
	z-index: 1000;
}
#page_index #main_img ul.btn {
	text-align: center;
}
#page_index #main_img ul.btn li {
	display: inline-block;
	margin-right: 15px;
}
#page_index #main_img ul.btn li a {
	display: block;
}
#page_index #main_img ul.btn li a:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter: "alpha( opacity=85 )";
}
#page_index #main_img .sp-slide p.sp-layer {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	letter-spacing: 1.4px;
	font-weight: bold;
	font-size: 36px;
	color: #fff;
	margin-bottom: 30px;
	position: absolute;
	z-index: 999;
	top: -100px;
	text-align: center;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
#page_index #main_img .sp-image-container {
	width: 100%;
	height: 100%;
	z-index: 3;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
}
#page_index section.news {
	padding: 40px 0;
}
#page_index section.news ul.category{
	border-left:1px solid #ccc;
	padding-left:12px;
	line-height:1;
	margin-bottom:25px;
}
#page_index section.news ul.category li{
	display:inline-block;
	border-right:1px solid #ccc;
	padding-right:12px;
	margin-right:5px;
		padding-top:3px;
}
#page_index section.news ul.category li a{
		font-weight:bold;
		color:#0A2C87;

}
#page_index section.news ul.category li.icon_car{
	background:url(../images/icon_car.png) no-repeat 0 0px;
	padding-left:24px;
}
#page_index section.news ul.category li.icon_mente{
	background:url(../images/icon_mente.png) no-repeat 0 0px;
	padding-left:22px;
}
#page_index section.news ul.category li.icon_voice{
	background:url(../images/icon_voice.png) no-repeat 0 0px;
	padding-left:22px;
}
#page_index section.news ul.category li.icon_info{
	background:url(../images/icon_info.png) no-repeat 0 0px;
	padding-left:22px;
}
#page_index section.news {
ul.lay_col4 {
	box-sizing: border-box;
	width: 100%;
	margin-bottom:0;
	margin-right: -10px;
	overflow: hidden;
}
ul.lay_col4 li {
	width: 217px;
	float: left;
	margin-right: 13px;
	border-right:1px solid #ccc;
	padding-right:13px;
	position:relative;
}
ul.lay_col4 li a{
	color:$text_color;
	text-decoration:none;
	&:hover{
		text-decoration:none;
	}
}
ul.lay_col4 li a:hover h3{
	text-decoration:underline;
}
ul.lay_col4 li .new{
	position:absolute;
	top:174px;
	right:9px;
}
ul.lay_col4 li:last-child {
	margin-right: 0;
	padding-right:0px;
	border-right:none;
}
ul.lay_col4 li .bg{
	background:#fff;
}
ul.lay_col4 li .photo{
	margin-bottom:12px;
}
ul.lay_col4 li a:hover .photo{
	  opacity: 0.70;
  filter: alpha(opacity=70);
  -ms-filter: "alpha( opacity=70 )";
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.lay_col4 .photo img {
	max-width: 100%;
	height: auto;
}
ul.lay_col4 li .cat{
	color:#0A2C87;
	font-weight:bold;
	margin-bottom:0px;
}
ul.lay_col4 li .icon_car{
	background:url(../images/icon_car.png) no-repeat 0 2px;
	padding-left:22px;
	margin-left:10px;
}
ul.lay_col4 li .icon_mente{
	background:url(../images/icon_mente.png) no-repeat 0 2px;
	padding-left:22px;
	margin-left:10px;
}
ul.lay_col4 li .icon_voice{
	background:url(../images/icon_voice.png) no-repeat 0 2px;
	padding-left:22px;
	margin-left:10px;
}
ul.lay_col4 li .icon_info{
	background:url(../images/icon_info.png) no-repeat 0 2px;
	padding-left:22px;
	margin-left:10px;
}
ul.lay_col4 li h3{
	margin:0 10px;
	font-size:12px;
}
ul.lay_col4 li .bottom{
	border-top:1px solid #E6E6E6;
	margin-top:8px;
	padding-top:3px;
	padding-bottom:2px;
}
ul.lay_col4 li .bottom .date{
	margin-left:10px;
	display:inline-block;
	float:left;
	font-weight:bold;
	font-size:10px;
}
ul.lay_col4 li .bottom .name{
	margin-right:10px;
	display:inline-block;
	float:right;
	font-size:10px;
	color:#B3B3B3;
}
}
section.access{
	padding:40px 0 0;
}
section.access .left{
	width:210px;
	float:left;
	margin-right:90px;
	padding-top:5px;
}
section.access .center{
	float:left;
	width:433px;
	text-align:left;
	margin-right:40px;

}
section.access .center address{
	font-size:15px;
	padding-left:5px;
}
section.access .center dl{
	font-size:14px;
}
section.access .center dl dt{
	float:left;
	width:145px;
	margin-right:5px;
}
section.access .center dl dd{
	float:left;
	text-align:left;
	width:279px;
}
section.access .center dl dd p{
	padding:3px 0 0 3px;
}
section.access .right{
	float:right;

	text-align:center;
	width:180px;
	font-size:13px;

}
section.access .right a{
	border:1px solid #4D4D4D;
	padding:8px 5px;
	display:block;
		line-height:1.6;
		color:#4D4D4D;
		&:hover{
			text-decoration:none;
			background:#f5f5f5;
		}
}
section.access .right img{
	margin-bottom:5px;
}
section.access #map{
	margin-top:35px;
	width: 100%;
	height: 450px;

}
/* company
----------------------------------------------------------------------------------------------------*/
#page_company section.aisatsu {
}
#page_company section.aisatsu .lay_figR .cont p {
	text-indent: 1em;
	margin: 0;
	font-size: 13px;
	line-height: 2;
}
#page_company section.aisatsu .lay_figR .cont p.ceo {
	margin-top: -6px;
	font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 30px;
	text-align: right;
}
#page_company section.aisatsu .lay_figR .cont p.ceo span {
	position: relative;
	top: -3px;
	font-size: 18px;
	margin-right: 25px;
}
#page_company section.vision {
}
#page_company section.vision .text {
	text-align: center;
	line-height: 2.2;
	margin-bottom: 60px;
}
#page_company section.vision ul li {
	background: #e1e3e9;
	height: 200px;
	padding: 20px 0;
}
#page_company section.vision ul li h4 {
	font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 44px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}
#page_company section.vision ul li p {
	line-height: 2.2;
	margin: 0 10px;
	font-size: 13px;
}
#page_company section.torihiki .boxleft {
	display: inline-block;
	text-align: left;
}
#page_company section.torihiki .boxleft.cont1 {
	margin-left: 60px;
}
#page_company section.torihiki p, #page_company section.hinmoku p {
	line-height: 2.4;
}
#page_company section.torihiki h4, #page_company section.hinmoku h4 {
	margin-top: 50px;
	margin-bottom: 15px;
}
#page_company section.syakun ol {
	margin-bottom: 30px;
}
#page_company section.syakun ul, #page_company section.syakun ol {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	display: inline-block;
	font-size: 18px;
}
#page_company section.syakun ul li, #page_company section.syakun ol li {
	text-align: left;
}
#page_company section.syakun ul li.last {
	text-align: right;
	margin-top: 20px;
}
#page_company section.map {
}
#page_company section.map .iframe {
	position: relative;
	width: 1000px;
	height: 480px;
	margin: 0 auto;
}
#page_company section.map .iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#page_company section.company table {
	width: 700px;
	margin: 0 auto 60px;
}
#page_company section.company th {
	border-bottom: 1px solid #ccc;
	padding: 8px 20px;
	white-space: nowrap;
}
#page_company section.company td {
	border-bottom: 1px solid #ccc;
	padding: 8px 20px;
	text-align: left;
}
@media screen and (min-width: 481px) {
#page_company section.company td ul {
	width: 50%;
	float: left;
}
#page_company section.company td ul li {
}
}
#page_company section.company td p.mb {
	margin-bottom: 1em;
}

/* sp */
@media screen and (max-width: 480px) {
#page_company section.aisatsu .lay_figR .cont {
	width: 100%;
	float: none;
}
#page_company section.aisatsu .lay_figR .photo {
	width: 100%;
	float: none;
}
#page_company section.aisatsu .lay_figR .cont p.ceo {
	margin-top: 2%;
	font-size: 20px;
}
#page_company section.aisatsu .lay_figR .cont p.ceo span {
	font-size: 15px;
}
#page_company section.vision .text {
	margin-bottom: 6%;
}
#page_company section.vision ul {
	margin-bottom: 2%;
}
#page_company section.vision ul li {
	width: 100%;
	height: auto;
	margin-bottom: 4%;
	padding: 4% 0;
}
#page_company section.vision ul li h4 {
	font-size: 28px;
	margin-bottom: 1%;
}
#page_company section.vision ul li p {
	line-height: 2.2;
	margin: 0 4%;
}
#page_company section.syakun ol {
	margin-bottom: 4%;
}
#page_company section.syakun ul, #page_company section.syakun ol {
	font-size: 14px;
}
#page_company section.torihiki h4, #page_company section.hinmoku h4 {
	margin-top: 10%;
	margin-bottom: 3%;
}
#page_company section.torihiki .boxleft.cont1 {
	margin-left: 0px;
}
#page_company section.map .iframe {
	position: relative;
	margin: 0 4%;
	width: 92%;
	height: auto;
	padding: 75% 0 0 0;
}
#page_company section.syakun p {
	margin: 0 6%;
}
#page_company section.company table {
	width: 92%;
	margin: 0 4% 6%;
	display: block;
}
#page_company section.company table tbody {
	display: block;
	width: 100%;
}
#page_company section.company table th {
	display: block;
	width: 100%;
}
#page_company section.company table td {
	display: block;
	width: 100%;
}
#page_company section.company th {
	padding: 1% 4%;
	border: none;
	background: #c7b299;
	margin-bottom: 2%;
}
#page_company section.company td {
	padding: 1% 1%;
	border: none;
	margin-bottom: 2%;
}
}
/* technology
----------------------------------------------------------------------------------------------------*/
#page_technology section {
}
#page_technology .toptext {
	margin: 60px 0 80px;
}
#page_technology .photo {
	margin: 0 0 45px;
}
#page_technology .inner {
	margin: 0 100px 20px;
}
#page_technology .inner ul {
	margin: 40px 0 0;
}
#page_technology .inner .video video {
	margin: 40px 0 0px;
	padding-bottom: 0;
	width: 800px;
	height: 450px;
}
#page_technology .linkbtn1 a {
	margin: 60px auto 0;
}
/* sp */
@media screen and (max-width: 480px) {
#page_technology .toptext {
	margin: 4% 0 0%;
}
#page_technology .photo {
	margin: 0 0 6%;
}
#page_technology .inner {
	margin: 0 0% 0%;
}
#page_technology .inner ul {
	margin: 4% 0 0;
}
#page_technology .linkbtn1 a {
	margin: 10% 0 0;
}
#page_technology .inner .video video {
	margin: 4% 0 0px;
	padding-bottom: 0;
	width: 100%;
	height: auto;
}
/*
#page_technology .inner .video {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
#page_technology .inner .video source,  
#page_technology .inner .video object,  
#page_technology .inner .video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/
}
/* history
----------------------------------------------------------------------------------------------------*/
#page_history {
}
#page_history .linkbtn1 {
	margin: 50px 0 60px;
}
#page_history ul.lay_col3 {
	margin-top: 50px;
}
#page_history ul.lay_col3 img {
	margin-bottom: 5px;
}
#page_history section section {
	margin: 0 0 50px;
}
#page_history section.chronology {
}
#page_history section.chronology h4 {
	margin: 50px 0px 50px;
}
#page_history section .jisseki {
	text-align: center;
	font-size: 19px;
}
#page_history section.chronology dl {
	margin: 0 30px 25px;
}
#page_history section.chronology dl dt {
	color: #450025;
	width: 170px;
	float: left;
	font-size: 15px;
	padding-top: 2px;
}
#page_history section.chronology dl dd {
	overflow: hidden;
	color: #333333;
	font-weight: bold;
	font-size: 17px;
}
#page_history section.chronology dl dd span.area {
	font-weight: normal;
}
/* sp */
@media screen and (max-width: 480px) {
#page_history .linkbtn1 {
	margin: 5% 4% 8%;
}
#page_history ul.lay_col3 {
	margin-top: 8%;
}
#page_history ul.lay_col3 {
	xmargin-top: 4%;
}
#page_history ul.lay_col3 li {
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 4%;
}
#page_history ul.lay_col3 img {
	margin-bottom: 1%;
	width: 100%;
}
#page_history section section {
	margin: 0 0 0%;
}
#page_history section.chronology h4 {
	margin: 8% 0px 6%;
}
#page_history .lay_figR .photo {
	float: none;
	width: 100%;
}
#page_history .lay_figR .photo img {
	width: 100%;
	height: auto;
}
#page_history .lay_figR .cont {
	float: none;
	width: 100%;
}
#page_history section.chronology dl {
	margin: 0 0% 6%;
}
#page_history section.chronology dl dt {
	width: 100%;
	float: none;
	font-size: 13px;
	padding-top: 2px;
}
#page_history section.chronology dl dd {
	font-size: 14px;
}
#page_history section.chronology dl dd span.area {
	font-size: 12px;
}
}
/* recruit
----------------------------------------------------------------------------------------------------*/
#page_recruit {
}
#page_recruit section.info h4 {
	margin-bottom: 30px;
}
#page_recruit section.info h5 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}
#page_recruit section.info table {
	width: 700px;
	margin: 0 auto 40px;
}
#page_recruit section.info th {
	border-bottom: 1px solid #ccc;
	padding: 8px 20px;
	white-space: nowrap;
}
#page_recruit section.info td {
	border-bottom: 1px solid #ccc;
	padding: 8px 20px;
}
#page_recruit section.info td dl {
}
#page_recruit section.info td dl dt {
	width: 6em;
	float: left;
	margin-right: 1em;
}
#page_recruit section.info td dl dd {
	overflow: hidden;
}
#page_recruit section.info .bnr {
	text-align: center;
	margin: 30px 0 60px;
}
#page_recruit section.info p {
	margin: 0 0px 30px;
}
#page_recruit section.info p.inner {
	padding: 0 1em;
}
#page_recruit section.info .center_box {
	width: 700px;
	margin: 0 auto;
}
#page_recruit section.info .linkbtn1 {
	margin: 40px 0px 30px;
}
#page_recruit section.info .bnr_area p.inner {
	width: 430px;
	float: left;
	padding-right: 0;
}
#page_recruit section.info .bnr_area p.bnr {
	width: 250px;
	float: right;
	margin-top: -8px;
	margin-bottom: 0;
}
#page_recruit section.info .bnr_area p.bnr img {
	width: 100%;
	height: auto;
}
#page_recruit section.voice {
}
#page_recruit section.voice h4 {
	margin-bottom: 30px;
	margin-top: 60px;
}
#page_recruit section.voice h5 {
	font-weight: bold;
	color: #0b1a57;
	margin-bottom: 1em;
	font-size: 16px;
	margin-top: 10px;
}
#page_recruit section.voice .linkbtn1 {
	margin-top: 50px;
	margin-bottom: 30px;
}
#page_recruit section.shikaku {
	padding-bottom: 80px;
}
#page_recruit section.shikaku h3 {
	margin-bottom: 40px;
}
#page_recruit section.shikaku .inner {
	padding: 20px 50px 0 100px;
}
#page_recruit section.shikaku p.left {
	width: 370px;
	margin-right: 50px;
	float: left;
}
#page_recruit section.shikaku p.right {
	width: 400px;
	margin-right: 30px;
	float: left;
}
/* sp */
@media screen and (max-width: 480px) {
#page_recruit section.info h4 {
	margin-bottom: 8%;
}
#page_recruit section.info h5 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2%;
}
#page_recruit section.info p.inner {
	padding-left: 1em;
	width: 100%;
}
#page_recruit .lay_figL {
	margin-bottom: 8%;
}
#page_recruit .lay_figL .photo {
	width: 100%;
	float: none;
}
#page_recruit .lay_figL .photo img {
	width: 100%;
	height: auto;
}
#page_recruit .lay_figL .cont {
	width: 100%;
	float: none;
	margin-bottom: 4%;
}
#page_recruit section.info .bnr {
	text-align: center;
	margin: 6% 0 10%;
}
#page_recruit section.info p {
	margin: 0 0px 6%;
}
#page_recruit section.info .linkbtn1 {
	margin: 4% 4% 2%;
}
#page_recruit section.info table {
	width: 100%;
	margin: 0 0% 6%;
	display: block;
}
#page_recruit section.info table tbody {
	display: block;
	width: 100%;
}
#page_recruit section.info table th {
	display: block;
	width: 100%;
}
#page_recruit section.info table td {
	display: block;
	width: 100%;
}
#page_recruit section.info th {
	padding: 1% 4%;
	border: none;
	background: #c7b299;
	margin-bottom: 2%;
}
#page_recruit section.info td {
	padding: 1% 1%;
	border: none;
	margin-bottom: 2%;
}
#page_recruit section.info td dl {
	border-bottom: 1px solid #ccc;
	padding: 2% 0;
}
#page_recruit section.info td dl:last-child {
	border-bottom: none;
}
#page_recruit section.info td dl dt {
	width: 6em;
	float: left;
	margin-right: 1em;
}
#page_recruit section.info td dl dd {
	overflow: hidden;
}
#page_recruit section.info .center_box {
	width: 100%;
}
#page_recruit section.info .bnr_area p.inner {
	float: none;
	width: auto;
}
#page_recruit section.info .bnr_area p.bnr {
	float: none;
	margin: -2% 4% 6%;
	width: auto;
}
#page_recruit section.voice {
}
#page_recruit section.voice h4 {
	margin-bottom: 6%;
	margin-top: 4%;
}
#page_recruit section.voice h5 {
	font-weight: bold;
	color: #0b1a57;
	margin-bottom: 1em;
	font-size: 15px;
}
#page_recruit section.voice .linkbtn1 {
	margin-top: 4%;
	margin-bottom: 4%;
}
#page_recruit section.shikaku .inner {
	padding: 0% 0%;
}
#page_recruit section.shikaku {
	padding-bottom: 4%;
}
#page_recruit section.shikaku h3 {
	margin-bottom: 8%;
}
#page_recruit section.shikaku p {
}
#page_recruit section.shikaku p.left {
	width: 100%;
	margin-right: 0;
	float: none;
}
#page_recruit section.shikaku p.right {
	width: 100%;
	margin-right: 0;
	float: none;
	margin-bottom: 4%;
}
#page_recruit .linkbtn3 {
	margin-bottom: 8% !important;
}
}
/* privacy
----------------------------------------------------------------------------------------------------*/
#page_privacy {
}
#page_privacy .inner {
	margin: 60px 60px;
}
#page_privacy .inner h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
#page_privacy .inner p {
	margin: 0px 30px 40px;
}
#page_privacy .inner ul {
	margin: -20px 30px 40px;
}
#page_privacy .inner a {
	text-decoration: underline;
}
/* sp */
@media screen and (max-width: 480px) {
#page_privacy .inner {
	margin: 6% 0%;
}
#page_privacy .inner h4 {
	font-size: 16px;
	margin-bottom: 2%;
}
#page_privacy .inner p {
	margin: 0px 0% 8%;
}
#page_privacy .inner ul {
	margin: -4% 0% 8%;
}
#page_privacy .inner ul li {
	text-indent: -1em;
	padding-left: 1em;
}
}
/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact section.contact {
	padding: 0px 20px;
}
#page_contact .toptext {
	margin: 40px 0;
}
#page_contact .toptext p {
	margin-bottom: 1em;
	font-size: 13px;
}
#page_contact .tel a {
	text-decoration: underline;
}
#page_contact form {
	background: rgba(255,255,255,0.3);
	padding: 30px;
	margin-bottom: 60px;
}
#page_contact form em {
	color: #333;
}
#page_contact form table {
	border: none;
	margin: 30px auto 30px !important;
	font-size: 16px;
	width: 820px !important;
}
#page_contact form table tr {
	border-bottom: 1px dashed #c7b299 !important;
	padding: 20px 0 20px !important;
}
#page_contact form table th {
	padding: 25px 10px 20px !important;
	border: none !important;
	width: 280px !important;
	text-align: left !important;
	vertical-align: middle !important;
}
#page_contact form table span.small {
	font-size: 11px;
	line-height: 1 !important;
}
#page_contact form table span.small a {
	color: #2e3192;
	text-decoration: underline;
}
#page_contact form table span.small a:hover {
	text-decoration: none;
}
#page_contact form table td {
	padding: 20px 10px 20px !important;
	border: none !important;
	text-align: left !important;
}
#page_contact form table td p {
	margin-bottom: 10px;
}
#page_contact form input[type=text] {
	width: 100%;
	padding: 7px 10px;
	font-size: 16px;
}
#page_contact form select {
	font-size: 16px;
	padding: 7px 10px;
}
#page_contact form textarea {
	width: 100%;
	font-size: 16px;
	padding: 7px 10px;
}
#page_contact form p.submit {
	text-align: center;
	display: block;
	margin: 4 0px auto 10px;
}
#page_contact form p.submit input[type=submit] {
	padding: 18px 100px 15px 110px;
	font-size: 1.2em;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	border: 1px solid #999;
	background: #f2f2f2 url(../images/more_icon.svg) no-repeat 85px center;
}
#page_contact form p.submit input[type=submit]:hover {
	background: #dfdfdf url(../images/more_icon.svg) no-repeat 85px center;
}
/* sp */
@media screen and (max-width: 480px) {
#page_contact section.contact {
	padding: 0px 0;
}
#page_contact .toptext {
	margin: 6% 0;
}
#page_contact .toptext p {
	margin-bottom: 1em;
	font-size: 13px;
}
#page_contact form {
	padding: 2% 4% 4%;
	margin-bottom: 10%;
}
#page_contact form table {
	margin: 0% auto 30px !important;
	font-size: 16px;
	width: 100% !important;
	display: block;
}
#page_contact form table tr {
	width: 100%;
	display: block;
	padding: 5% 0 3% !important;
}
#page_contact form table th {
	padding: 0% !important;
	border: none !important;
	width: 100% !important;
	vertical-align: middle !important;
	display: block;
	line-height: 1.4;
}
#page_contact form table span.small {
	font-size: 11px;
	line-height: 1 !important;
}
#page_contact form table span.small a {
	color: #2e3192;
	text-decoration: underline;
}
#page_contact form table span.small a:hover {
	text-decoration: none;
}
#page_contact form table td {
	padding: 2% 0px 4% !important;
	width: 100%;
	display: block;
}
#page_contact form table td p {
	margin-bottom: 10px;
}
#page_contact form input[type=text] {
	width: 100%;
	padding: 7px 10px;
	font-size: 16px;
}
#page_contact form select {
	font-size: 16px;
	padding: 7px 10px;
}
#page_contact form textarea {
	width: 100%;
	font-size: 16px;
	padding: 7px 10px;
}
#page_contact form label {
	display: block;
	text-align: center;
	padding: 1.5% 0 1%;
	margin-bottom: 4%;
	border: 1px solid #ccc;
}
#page_contact form p.submit {
	text-align: center;
	display: block;
	margin: 4% auto 6%;
}
#page_contact form p.submit input[type=submit] {
	padding: 18px 10% 15px 10%;
	width: 100%;
	font-size: 1.2em;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	border: 1px solid #999;
	background: #f2f2f2 url(../images/more_icon.svg) no-repeat 10% center;
}
#page_contact form p.submit input[type=submit]:hover {
	background: #f2f2f2 url(../images/more_icon.svg) no-repeat 10% center;
}
}
/* works
----------------------------------------------------------------------------------------------------*/

#page_works .worklist ul {
	margin-right: -20px;
	margin-top: 50px;
	overflow: hidden;
}
#page_works .worklist ul li {
	margin-right: 20px;
	margin-bottom: 15px;
	float: left;
}
#page_works .worklist ul li a {
	display: block;
	height: 190px;
	display: table;
	background: rgba(255,255,255,0.4);
	width: 490px;
}
#page_works .worklist ul li a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.6);
}
#page_works .worklist ul li .photo {
	xmargin: 20px;
	display: table-cell;
	width: 150px;
	padding: 20px;
}
#page_works .worklist ul li .photo img {
	max-width: 150px;
}
#page_works .worklist ul li p {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	width: 380px;
	font-size: 22px;
}
#page_works .worklist#kyouryou {
}
#page_works .worklist#kyouryou ul li a {
	background: rgba(226,186,93,0.2);
}
#page_works .worklist#kyouryou ul li a:hover {
	background: rgba(226,186,93,0.3);
}
#page_works .single article {
	background: rgba(255,255,255,0.3);
	padding: 20px 20px 60px;
}
#page_works .single article h3 {
	text-align: center;
	font-size: 28px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	border-bottom: 1px solid #c7b299;
	margin-bottom: 30px;
	padding-bottom: 5px;
}
#page_works .single article .photo {
	text-align: center;
}
#page_works .single article .photo img {
	width: 100%;
	height: auto;
}
#page_works .single article .spec {
	padding: 30px 20px 25px;
	color: #450025;
	border-bottom: 1px solid #c7b299;
	margin-bottom: 30px;
}
#page_works .single article .text {
}
#page_works .linkbtn1 a {
	width: 360px;
	margin: -20px auto 20px;
}

/* sp */
@media screen and (max-width: 480px) {
#page_works .worklist ul {
	margin-top: 4%;
}
#page_works .worklist ul li {
}
#page_works .worklist ul li a {
	height: auto;
	width: 96%;
	margin: 0 auto;
	padding: 2%;
}
#page_works .worklist ul li .photo {
	display: block;
	width: 80px;
	float: left;
	margin: 0%;
	padding: 4%;
}
#page_works .worklist ul li .photo img {
	width: 80px;
}
#page_works .worklist ul li p {
	padding-left: 6%;
	padding-right: 2%;
	font-size: 15px;
}
#page_works .single article {
	padding: 4% 4% 4%;
}
#page_works .single article h3 {
	font-size: 18px;
	line-height: 1.4;
	border-bottom: 1px solid #c7b299;
	margin-bottom: 4%;
	padding-bottom: 2%;
}
#page_works .single article .photo img {
	max-width: 100%;
	height: auto;
}
#page_works .single article .spec {
	padding: 4%;
	margin-bottom: 4%;
}
#page_works .linkbtn1 a {
	margin: 0 auto 4%;
	box-sizing: border-box;
	width: 90%;
}
}
/* sitemap
----------------------------------------------------------------------------------------------------*/
#page_sitemap section .map {
	margin-bottom: 40px;
	padding: 0 0px 0 90px;
}
#page_sitemap section .map_l {
	float: left;
	margin-right: 30px;
	width: 400px;
}
#page_sitemap section .map_r {
	float: left;
	width: 400px;
}
#page_sitemap section .map a {
	text-decoration: none;
	margin-bottom: 25px;
	padding-left: 20px;
	border: 1px solid #ccc;
	border-left: 3px solid #0b1a57;
	width: 300px;
	display: block;
	padding: 15px 20px 10px;
	line-height: 1;
	position: relative;
}
#page_sitemap section .map a::after {
	position: absolute;
	top: 50%;
	right: 15px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#page_sitemap section .map a:hover {
	background: #f2f2f2;
}
#page_sitemap section .map ol {
	margin: 0px 0 20px 20px;
	font-size: 13px;
}
#page_sitemap section .map ol li {
	background: none;
	padding-left: 0px;
	margin-bottom: 5px;
}
#page_sitemap section .map ol li a {
	border: none;
	width: 300px;
	display: inline-block;
	padding: 0;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 1.6;
	background: url(../images/icon_arrow.gif) no-repeat left 7px;
	padding-left: 38px;
}
#page_sitemap section .map ol li a::before {
	position: absolute;
	top: 50%;
	left: 15px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -5px;
	border-top: 1px solid #888;
	border-right: 1px solid #888;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#page_sitemap section .map ol li a::after {
	border: none;
}
#page_sitemap section .map ol li a:hover {
	background: url(../images/icon_arrow.gif) no-repeat left 7px;
	text-decoration: underline;
}
/* sp */
@media screen and (max-width: 480px) {
#page_sitemap section .map {
	padding: 0;
}
#page_sitemap section .map_l {
	float: noen;
	margin-right: 0px;
	width: auto;
}
#page_sitemap section .map_r {
	float: noen;
	margin-right: 0px;
	width: auto;
}
#page_sitemap section .map a {
	width: 92%;
	box-sizing: border-box;
}
#page_sitemap section .map ol li a {
	margin-bottom: 2%;
}
}
/* news
----------------------------------------------------------------------------------------------------*/
#page_news {
}
.news_list .left_contents section {
	padding: 25px 20px !important;
	background: #fff;
}
#page_news #sidebar {
}
.news_list dl {
	border-bottom: 1px dotted #c7b299;
	padding-bottom: 25px;
	margin-bottom: 28px;
}
.news_list dl:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.news_list dl dt {
	width: 165px;
	float: left;
	font-size: 11px;
	position: relative;
	top: 5px;
}
.news_list dl dd {
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
}
.news_list dl dt .cat {
	background: #666;
	display: inline-block;
	padding: 1px 10px;
	width: 40px;
	margin-left: 12px;
	text-align: center;
	font-size: 9px;
	color: #fff;
}
.news_list dl dt .cat.news {
	background: #2f4087;
}
.news_list dl dt .cat.recruit {
	background: #a0296a;
}
/* sp */
@media screen and (max-width: 480px) {
.news_list dl {
	padding-bottom: 4%;
	margin-bottom: 6%;
}
.news_list dl:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.news_list dl dt {
	width: 100%;
	float: none;
	top: 0px;
	margin-bottom: 2.5%;
}
.news_list dl dd {
	font-size: 13px;
	font-weight: normal;
	font-weight: bold;
}
.news_list dl dt .cat {
	display: inline-block;
	width: auto;
}
}
/* single
----------------------------------------------------------------------------------------------------*/
#page_single article {
	padding: 25px 20px !important;
	background: #fff;
}
.news_entry .entry-header h3 {
	margin-bottom: 15px;
	border-bottom: 1px solid #c7b299;
	font-size: 18px;
	padding: 0 5px 10px;
	font-weight: bold;
}
.news_entry .entry-header time {
	font-size: 12px;
	padding-left: 5px;
}
.news_entry .entry-header .cat {
	background: #666;
	display: inline-block;
	padding: 1px 10px;
	width: 40px;
	margin-left: 12px;
	text-align: center;
	font-size: 9px;
	color: #fff;
}
.news_entry .entry-header .cat.news {
	background: #2f4087;
}
.news_entry .entry-header .cat.recruit {
	background: #a0296a;
}
.news_entry .entry-content {
}
.news_entry .entry-content p {
}
.news_entry .entry-content img {
	max-width: 100%;
	margin-bottom: 10px;
}
/* sp */
@media screen and (max-width: 480px) {
#page_single article {
	padding: 4% !important;
}
.news_entry .entry-header h3 {
	margin-bottom: 15px;
	font-size: 15px;
	padding: 0 5px 10px;
	font-weight: bold;
}
.news_entry .entry-header .cat {
	width: auto;
}
.news_entry section.entry-content {
	padding-bottom: 2% !important;
}
}
