@charset "utf-8";

$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン
 
@mixin tab {
  @media (min-width: $widthTab) and (max-width: ($widthPC)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($widthTab)) {
    @content;
  }
}

@mixin transition($mode:ease){
	-webkit-transition: all 0.3s $mode;
	-moz-transition: all 0.3s $mode;
	-o-transition: all 0.3s $mode;
	transition: all 0.3s $mode;
}
