@charset "utf-8";

//size
$max_width:970px;

//color
$text_color:#333333;
$link_color:#0044cc;
$em_color:#f00;

$bg_color1:#FAF7EB;
$bg_color2:#f1f1f1;

$main_color:#318a97;
$sub_color1:#f7c14d;


//font
@mixin mincho{font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif}
@mixin gothic{font-family: "ヒラギノ角ゴ Pro W3", Lucida Grande, Hiragino Kaku Gothic Pro, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;}