@charset "utf-8";
@import "valiables";

/*-------------------------------------------*/
/*  reset                                    */
/*-------------------------------------------*/

html {
	color:#000;
	background:#ffffff
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset, img {
	vertical-align:bottom;
	border:0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal
}
ol, ul {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}
q:before, q:after {
	content:''
}
abbr, acronym {
	border:0;
	font-variant:normal
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit
}
input, textarea, select {
	 *font-size:100%
}
legend {
	color:#000
}
a {
	outline: none;
}

/* html5 */
header, footer, nav, section, article, figure, aside {
	margin:0;
	padding:0;
	display:block
}


/*-------------------------------------------*/
/*  clearfix                                 */
/*-------------------------------------------*/
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.of {
	_zoom: 1;
	overflow: hidden;
}





/*-------------------------------------------*/
/*  module                                   */
/*-------------------------------------------*/

em {
	color:$em_color;
}
.bold {
	font-weight:bold;
}
.fl {
	float:left !important;
}
.fr {
	float:right !important;
}
.clear{
	clear:both !important;
}
img.wide{
	max-width:100%;
}

.tar {
	text-align: right !important;
}
.tac {
	text-align: center !important;
}
.tal {
	text-align: left !important;
}

/* alpah */
a:hover img.alpha70{
	opacity:0.70;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
a:hover img.alpha75{
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: "alpha( opacity=75 )";
}
a:hover img.alpha80{
	opacity:0.80;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
a:hover img.alpha85{
	opacity:0.85;
	filter:alpha(opacity=85);
	-ms-filter: "alpha( opacity=85 )";
}
a:hover img.alpha90{
	opacity:0.90;
	filter:alpha(opacity=90);
	-ms-filter: "alpha( opacity=90 )";
}
a:hover img.alpha95{
	opacity:0.95;
	filter:alpha(opacity=95);
	-ms-filter: "alpha( opacity=95 )";
}



/* 余白調整用
----------------------------------------------------------------------------------------------------*/

.mt00 { margin-top:0px !important; }
.mt01 { margin-top:1px !important; }
.mt02 { margin-top:2px !important; }
.mt03 { margin-top:3px !important; }
.mt04 { margin-top:4px !important; }
.mt05 { margin-top:5px !important; }
.mt06 { margin-top:6px !important; }
.mt07 { margin-top:7px !important; }
.mt08 { margin-top:8px !important; }
.mt09 { margin-top:9px !important; }
.mt10 { margin-top:10px !important; }

.mt11 { margin-top:11px !important; }
.mt12 { margin-top:12px !important; }
.mt13 { margin-top:13px !important; }
.mt14 { margin-top:14px !important; }
.mt15 { margin-top:15px !important; }
.mt16 { margin-top:16px !important; }
.mt17 { margin-top:17px !important; }
.mt18 { margin-top:18px !important; }
.mt19 { margin-top:19px !important; }
.mt20 { margin-top:20px !important; }

.mt21 { margin-top:21px !important; }
.mt22 { margin-top:22px !important; }
.mt23 { margin-top:23px !important; }
.mt24 { margin-top:24px !important; }
.mt25 { margin-top:25px !important; }
.mt26 { margin-top:26px !important; }
.mt27 { margin-top:27px !important; }
.mt28 { margin-top:28px !important; }
.mt29 { margin-top:29px !important; }
.mt30 { margin-top:30px !important; }

.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }

.mr00 { margin-right:0px !important; }
.mr01 { margin-right:1px !important; }
.mr02 { margin-right:2px !important; }
.mr03 { margin-right:3px !important; }
.mr04 { margin-right:4px !important; }
.mr05 { margin-right:5px !important; }
.mr06 { margin-right:6px !important; }
.mr07 { margin-right:7px !important; }
.mr08 { margin-right:8px !important; }
.mr09 { margin-right:9px !important; }
.mr10 { margin-right:10px !important; }
.mr11 { margin-right:11px !important; }
.mr12 { margin-right:12px !important; }
.mr13 { margin-right:13px !important; }
.mr14 { margin-right:14px !important; }
.mr15 { margin-right:15px !important; }
.mr16 { margin-right:16px !important; }
.mr17 { margin-right:17px !important; }
.mr18 { margin-right:18px !important; }
.mr19 { margin-right:19px !important; }
.mr20 { margin-right:20px !important; }
.mr21 { margin-right:21px !important; }
.mr22 { margin-right:22px !important; }
.mr23 { margin-right:23px !important; }
.mr24 { margin-right:24px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }

.mb00 { margin-bottom:0px !important; }
.mb01 { margin-bottom:1px !important; }
.mb02 { margin-bottom:2px !important; }
.mb03 { margin-bottom:3px !important; }
.mb04 { margin-bottom:4px !important; }
.mb05 { margin-bottom:5px !important; }
.mb06 { margin-bottom:6px !important; }
.mb07 { margin-bottom:7px !important; }
.mb08 { margin-bottom:8px !important; }
.mb09 { margin-bottom:9px !important; }
.mb10 { margin-bottom:10px !important; }
.mb11 { margin-bottom:11px !important; }
.mb12 { margin-bottom:12px !important; }
.mb13 { margin-bottom:13px !important; }
.mb14 { margin-bottom:14px !important; }
.mb15 { margin-bottom:15px !important; }
.mb16 { margin-bottom:16px !important; }
.mb17 { margin-bottom:17px !important; }
.mb18 { margin-bottom:18px !important; }
.mb19 { margin-bottom:19px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb26 { margin-bottom:26px !important; }
.mb27 { margin-bottom:27px !important; }
.mb28 { margin-bottom:28px !important; }
.mb29 { margin-bottom:29px !important; }
.mb30 { margin-bottom:30px !important; }

.ml00 { margin-left:0px !important; }
.ml05 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }

.pt00 { padding-top:0px !important; }
.pt03 { padding-top:3px !important; }
.pt04 { padding-top:4px !important; }
.pt05 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }

.pr00 { padding-right:0px !important; }
.pr05 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr21 { padding-right:21px !important; }
.pr22 { padding-right:22px !important; }
.pr23 { padding-right:23px !important; }
.pr24 { padding-right:24px !important; }
.pr25 { padding-right:25px !important; }

.pb00 { padding-bottom:0px !important; }
.pb01 { padding-bottom:1px !important; }
.pb02 { padding-bottom:2px !important; }
.pb03 { padding-bottom:3px !important; }
.pb04 { padding-bottom:4px !important; }
.pb05 { padding-bottom:5px !important; }
.pb06 { padding-bottom:6px !important; }
.pb07 { padding-bottom:7px !important; }
.pb08 { padding-bottom:8px !important; }
.pb09 { padding-bottom:9px !important; }
.pb10 { padding-bottom:10px !important; }
.pb11 { padding-bottom:11px !important; }
.pb12 { padding-bottom:12px !important; }
.pb13 { padding-bottom:13px !important; }
.pb14 { padding-bottom:14px !important; }
.pb15 { padding-bottom:15px !important; }
.pb16 { padding-bottom:16px !important; }
.pb17 { padding-bottom:17px !important; }
.pb18 { padding-bottom:18px !important; }
.pb19 { padding-bottom:19px !important; }
.pb20 { padding-bottom:20px !important; }
.pb21 { padding-bottom:21px !important; }
.pb22 { padding-bottom:22px !important; }
.pb23 { padding-bottom:23px !important; }
.pb24 { padding-bottom:24px !important; }
.pb25 { padding-bottom:25px !important; }
.pb26 { padding-bottom:26px !important; }
.pb27 { padding-bottom:27px !important; }
.pb28 { padding-bottom:28px !important; }
.pb29 { padding-bottom:29px !important; }
.pb30 { padding-bottom:30px !important; }

.pl00 { padding-left:0px !important; }
.pl01 { padding-left:1px !important; }
.pl02 { padding-left:2px !important; }
.pl03 { padding-left:3px !important; }
.pl04 { padding-left:4px !important; }
.pl05 { padding-left:5px !important; }
.pl06 { padding-left:6px !important; }
.pl07 { padding-left:7px !important; }
.pl08 { padding-left:8px !important; }
.pl09 { padding-left:9px !important; }
.pl10 { padding-left:10px !important; }
.pl11 { padding-left:11px !important; }
.pl12 { padding-left:12px !important; }
.pl13 { padding-left:13px !important; }
.pl14 { padding-left:14px !important; }
.pl15 { padding-left:15px !important; }
.pl16 { padding-left:16px !important; }
.pl17 { padding-left:17px !important; }
.pl18 { padding-left:18px !important; }
.pl19 { padding-left:19px !important; }
.pl20 { padding-left:20px !important; }
.pl21 { padding-left:21px !important; }
.pl22 { padding-left:22px !important; }
.pl23 { padding-left:23px !important; }
.pl24 { padding-left:24px !important; }
.pl25 { padding-left:25px !important; }
